Repository HDRUK/hutch, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Manager Frontend, Area: Manager Backend API, Area: Agent, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Manager Frontend":
  - app/manager-frontend/**/*
"Area: Manager Backend API":
  - app/LinkLiteManager/**/*
"Area: Agent":
  - app/LinkLiteAgent/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

refactor misnamed package
  app/LinkLiteAgent/linkliteagent/ro_crates/__init__.py
  app/LinkLiteAgent/linkliteagent/ro_crates/group.py
  app/LinkLiteAgent/linkliteagent/ro_crates/operator.py
  app/LinkLiteAgent/linkliteagent/ro_crates/query.py
  app/LinkLiteAgent/linkliteagent/ro_crates/result.py
  app/LinkLiteAgent/linkliteagent/ro_crates/rule.py
  app/LinkLiteAgent/linkliteagent/ro_crates/thing.py
Labels: Area: Agent

test rename import paths
  app/LinkLiteAgent/tests/test_entities.py
Labels: Area: Agent

thing is abstract-ish
  app/LinkLiteAgent/linkliteagent/ro_crates/thing.py
Labels: Area: Agent

Create scoped service RquestPollingService, and modify RquestPollingHostedService, change configuration to match api changes
  app/LinkLiteManager/HostedServices/RquestPollingHostedService.cs
  app/LinkLiteManager/Program.cs
  app/LinkLiteManager/Services/RquestConnectorApiClient.cs
  app/LinkLiteManager/Services/RquestPollingService.cs
  app/LinkLiteManager/appsettings.Development.json
Labels: Area: Manager Backend API

AB#62653: Activity source list (#17)
  app/manager-frontend/src/api/activitysource.js
  app/manager-frontend/src/components/ActivitySourceSummary.jsx
  app/manager-frontend/src/pages/UserHome.jsx
Labels: Area: Manager Frontend

added ability to update activity source
  app/manager-frontend/src/api/activitysource.js
  app/manager-frontend/src/pages/ActivitySource/create.jsx
  app/manager-frontend/src/pages/ActivitySource/edit.jsx
  app/manager-frontend/src/pages/ActivitySource/index.jsx
  app/manager-frontend/src/pages/UserHome.jsx
  app/manager-frontend/src/routes/Root.jsx
Labels: Area: Manager Frontend

finished regex requirements
  app/manager-frontend/src/pages/ActivitySource/validation.js
Labels: Area: Manager Frontend

Change hosted service stop and start so the app launches correctly:
  app/LinkLiteManager/HostedServices/RquestPollingHostedService.cs
  app/LinkLiteManager/Services/RquestQueueingService.cs
Labels: Area: Manager Backend API

Send query response to queue
  app/LinkLiteManager/Dto/RquestQueryTask.cs
  app/LinkLiteManager/HostedServices/RquestPollingHostedService.cs
  app/LinkLiteManager/LinkLiteManager.csproj
  app/LinkLiteManager/Services/RquestConnectorApiClient.cs
  app/LinkLiteManager/Services/RquestPollingService.cs
  app/LinkLiteManager/Services/RquestQueueingService.cs
Labels: Area: Manager Backend API

AB#62658: Activity source form (#18)
  app/manager-frontend/src/api/activitysource.js
  app/manager-frontend/src/components/forms/FormikSelect.jsx
  app/manager-frontend/src/contexts/BackendApi.jsx
  app/manager-frontend/src/pages/ActivitySource/index.jsx
  app/manager-frontend/src/pages/ActivitySource/validation.js
  app/manager-frontend/src/pages/UserHome.jsx
  app/manager-frontend/src/routes/Root.jsx
Labels: Area: Manager Frontend

changed comment to todo
  app/manager-frontend/src/pages/ActivitySource/index.jsx
Labels: Area: Manager Frontend

removed dummy data
  app/manager-frontend/src/api/activitysource.js
Labels: Area: Manager Frontend

Add DisplayName field to ActivitySource
  app/LinkLiteManager/Data/Entities/ActivitySource.cs
  app/LinkLiteManager/Data/Migrations/20220617144222_UpdateActivitySource.Designer.cs
  app/LinkLiteManager/Data/Migrations/20220617144222_UpdateActivitySource.cs
  app/LinkLiteManager/Models/ActivitySource.cs
  app/LinkLiteManager/Models/CreateActivitySource.cs
Labels: Area: Manager Backend API, Contains: Migrations

Update app/manager-frontend/src/pages/ActivitySource/index.jsx
  app/manager-frontend/src/pages/ActivitySource/index.jsx
Labels: Area: Manager Frontend

Update app/manager-frontend/src/pages/ActivitySource/index.jsx
  app/manager-frontend/src/pages/ActivitySource/index.jsx
Labels: Area: Manager Frontend

Update app/manager-frontend/src/pages/ActivitySource/index.jsx
  app/manager-frontend/src/pages/ActivitySource/index.jsx
Labels: Area: Manager Frontend

Update app/manager-frontend/src/pages/ActivitySource/index.jsx
  app/manager-frontend/src/pages/ActivitySource/index.jsx
Labels: Area: Manager Frontend

Use collection id from activity source, not config file
  app/LinkLiteManager/HostedServices/RquestPollingHostedService.cs
  app/LinkLiteManager/OptionsModels/RquestConnectorApiOptions.cs
  app/LinkLiteManager/Services/RquestPollingService.cs
Labels: Area: Manager Backend API

Remove RquestCollectionId from model
  app/LinkLiteManager/OptionsModels/RquestPollingServiceOptions.cs
Labels: Area: Manager Backend API

added ability to delete activity source
  app/manager-frontend/src/api/activitysource.js
  app/manager-frontend/src/components/ActivitySourceSummary.jsx
  app/manager-frontend/src/pages/ActivitySource/index.jsx
  app/manager-frontend/src/pages/UserHome.jsx
Labels: Area: Manager Frontend

AB#58880: Add Rquest Polling & Queueing (#19)
  app/LinkLiteManager/Data/ApplicationDbContext.cs
  app/LinkLiteManager/Dto/RquestQuery.cs
  app/LinkLiteManager/Dto/RquestQueryResult.cs
  app/LinkLiteManager/Dto/RquestQueryTask.cs
  app/LinkLiteManager/Dto/RquestResultResponse.cs
  app/LinkLiteManager/Helpers/TreeNode.cs
  app/LinkLiteManager/HostedServices/RquestPollingHostedService.cs
  app/LinkLiteManager/LinkLiteManager.csproj
  app/LinkLiteManager/OptionsModels/RquestConnectorApiOptions.cs
  app/LinkLiteManager/OptionsModels/RquestPollingServiceOptions.cs
  app/LinkLiteManager/Program.cs
  app/LinkLiteManager/Services/QueryServices/Constants.cs
  app/LinkLiteManager/Services/QueryServices/Helpers.cs
  app/LinkLiteManager/Services/RquestConnectorApiClient.cs
  app/LinkLiteManager/Services/RquestPollingService.cs
  app/LinkLiteManager/appsettings.Development.json
Labels: Area: Manager Backend API

AB#58553:Edit activity source (#20)
  app/manager-frontend/src/api/activitysource.js
  app/manager-frontend/src/pages/ActivitySource/create.jsx
  app/manager-frontend/src/pages/ActivitySource/edit.jsx
  app/manager-frontend/src/pages/ActivitySource/index.jsx
  app/manager-frontend/src/pages/ActivitySource/validation.js
  app/manager-frontend/src/pages/UserHome.jsx
  app/manager-frontend/src/routes/Root.jsx
Labels: Area: Manager Frontend

AB#62646: Add DisplayName field to ActivitySource (#21)
  app/LinkLiteManager/Data/Entities/ActivitySource.cs
  app/LinkLiteManager/Data/Migrations/20220617144222_UpdateActivitySource.Designer.cs
  app/LinkLiteManager/Data/Migrations/20220617144222_UpdateActivitySource.cs
  app/LinkLiteManager/Models/ActivitySource.cs
  app/LinkLiteManager/Models/CreateActivitySource.cs
Labels: Area: Manager Backend API, Contains: Migrations

Add Get endpoint for activitySource
  app/LinkLiteManager/Controllers/ActivitySourceController.cs
  app/LinkLiteManager/Services/ActivitySourceService.cs
Labels: Area: Manager Backend API

Add HttpPut method for ActivitySource
  app/LinkLiteManager/Controllers/ActivitySourceController.cs
  app/LinkLiteManager/Services/ActivitySourceService.cs
Labels: Area: Manager Backend API

AB#62673: ActivitySource GET endpoint for getting a single ActivitySource by ID (#24)
  app/LinkLiteManager/Controllers/ActivitySourceController.cs
  app/LinkLiteManager/Services/ActivitySourceService.cs
Labels: Area: Manager Backend API

remove models import
  app/LinkLiteManager/Services/ActivitySourceService.cs
Labels: Area: Manager Backend API

re-write rule factory method
  app/LinkLiteAgent/linkliteagent/ro_crates/rule.py
Labels: Area: Agent

rule test passes
  app/LinkLiteAgent/linkliteagent/ro_crates/operator.py
  app/LinkLiteAgent/linkliteagent/ro_crates/rule.py
  app/LinkLiteAgent/tests/test_entities.py
Labels: Area: Agent

Add delete endpoint for ActivitySource
  app/LinkLiteManager/Controllers/ActivitySourceController.cs
  app/LinkLiteManager/Services/ActivitySourceService.cs
Labels: Area: Manager Backend API

Return model on HttpPut
  app/LinkLiteManager/Controllers/ActivitySourceController.cs
Labels: Area: Manager Backend API

AB#63236: Refactor Agent Log table to match Manager table attributes (#15)
  app/LinkLiteAgent/linkliteagent/config.py
  app/LinkLiteAgent/linkliteagent/db_logging.py
Labels: Area: Agent

Update git workflow to match Hutch name
  .github/workflows/publish.hutch.yml
Labels: Area: CI

Update workflow
  .github/workflows/publish.hutch.yml
Labels: Area: CI

Rename LinkLite to Hutch
  .github/workflows/build.manager-backend-api.yml
Labels: Area: CI
