Repository HDRUK/hutch, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Agent, Area: Docs, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Agent":
  - app/HutchAgent/**/*
"Area: Docs":
  - website/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

hopefully fixing zip extraction :3
  app/HutchAgent/Services/WorkflowFetchService.cs
Labels: Area: Agent

added retaining job details on failures to FetchAndExecute
  app/HutchAgent/Constants/FeatureFlags.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
Labels: Area: Agent

hutch now uses podman in stage files
  app/HutchAgent/Models/Wfexs/WorkflowStageFile.cs
Labels: Area: Agent

extra wfexs config
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
Labels: Area: Agent

consuming extra wfexs config
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
  app/HutchAgent/Models/Wfexs/WorkflowStageFile.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

optional wfexs logging for attached process
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

enabled process events
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

also attach to stderr
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

reading controller api config
  app/HutchAgent/Program.cs
Labels: Area: Agent

Controller Api Status values
  app/HutchAgent/Constants/JobStatuses.cs
Labels: Area: Agent

sorting out wfexs process logging a bit
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

more logging, flushing bash with individual commands
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

await WriteStageFile()
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

pretty sure run id comes from stderr!
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

hacky localhost fix
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

more output handling
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

theoreitcally fixing some yaml parsing
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

adding some logging
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
Labels: Area: Agent

outputs logging
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
Labels: Area: Agent

maybe fixing writetostore?
  app/HutchAgent/Services/MinioStoreService.cs
Labels: Area: Agent

fixing writetostore calls in finalize
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/MinioStoreService.cs
Labels: Area: Agent

fixing async warning
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

hopefully fixing some date formats
  app/HutchAgent/Services/FiveSafesCrateService.cs
  app/HutchAgent/Services/JobLifecycleService.cs
Labels: Area: Agent

creating egress package dir
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
Labels: Area: Agent

added singularity to the localhost debacle
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

AB#105505: Hutch Run fixes (#260)
  app/HutchAgent.Tests/TestFiveSafesCrateService.cs
  app/HutchAgent/Config/CratePublishingOptions.cs
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
  app/HutchAgent/Constants/FeatureFlags.cs
  app/HutchAgent/Constants/JobStatuses.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
  app/HutchAgent/Services/JobLifecycleService.cs
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/Services/WorkflowFetchService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
  website/docs/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs

version bump
  app/HutchAgent/HutchAgent.csproj
Labels: Area: Agent

Hutch will substitute correctly named data access inputs with values from the job submission if present.
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

tidier hostname mapping
  app/HutchAgent/Models/DatabaseConnectionDetails.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

AB#130479: Data access (part 1) (#261)
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Models/DatabaseConnectionDetails.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

docs for port config
  website/docs/getting-started/configuration/agent.md
Labels: Area: Docs

hutch will bind by default to specific ports on ALL interfaces
  app/HutchAgent/appsettings.json
Labels: Area: Agent

AB#130477: Default ports (#262)
  app/HutchAgent/appsettings.json
  website/docs/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs

attempting to document keycloak/minio setup and relationship
  docker-compose.yml
  website/docs/external-systems/keycloak/index.md
  website/docs/external-systems/minio/minio-keycloak.md
Labels: Area: Docs

added OpenIdIdentityService, and the ability to request user access tokens from oidc
  app/HutchAgent/Config/OpenIdOptions.cs
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/OpenIdIdentityService.cs
Labels: Area: Agent

ControllerApi requests token for calls if the current one is missing or invalid
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/Services/OpenIdIdentityService.cs
Labels: Area: Agent

MinioStoreServiceFactory Create is async now
  app/HutchAgent/Config/OpenIdOptions.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/Services/OpenIdIdentityService.cs
Labels: Area: Agent

docs updates and fixes while testing token fetching
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/MinioStoreService.cs
  website/docs/external-systems/keycloak/index.md
  website/docs/external-systems/minio/minio-keycloak.md
Labels: Area: Agent, Area: Docs

docs updates, getting id tokens working
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/Services/OpenIdIdentityService.cs
  website/docs/external-systems/keycloak/index.md
  website/docs/external-systems/minio/minio-keycloak.md
Labels: Area: Agent, Area: Docs

wip minio AssumeRoleWithWebIdentity
  app/HutchAgent/Services/MinioStoreService.cs
  docker-compose.yml
  website/docs/external-systems/keycloak/index.md
  website/docs/external-systems/minio/minio-keycloak.md
Labels: Area: Agent, Area: Docs
