Repository HDRUK/hutch, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Agent, Area: Docs, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Agent":
  - app/HutchAgent/**/*
"Area: Docs":
  - website/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

add singularity, encfs and graphviz
  ansible/playbooks/wfexs.yml
Labels: none

AB#130901: ansible updates (#268)
  ansible/playbooks/set-up-vm.yml
  ansible/playbooks/wfexs.yml
Labels: none

test data
  app/HutchAgent.Tests/TestBagit/bagit-info.txt
  app/HutchAgent.Tests/TestBagit/bagit.txt
  app/HutchAgent.Tests/TestBagit/data/hello.txt
  app/HutchAgent.Tests/TestBagit/manifest-sha512.txt
  app/HutchAgent.Tests/TestBagit/tagmanifest-sha512.txt
Labels: none

test for verification method
  app/HutchAgent.Tests/HutchAgent.Tests.csproj
  app/HutchAgent.Tests/TestBagItService.cs
Labels: none

verification method
  app/HutchAgent/Services/BagItService.cs
Labels: Area: Agent

add verification before execution
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
Labels: Area: Agent

remove conditional inclusion of test data in unit tests, always include
  app/HutchAgent.Tests/HutchAgent.Tests.csproj
Labels: none

remove exception object
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
Labels: Area: Agent

move verification to FiveSafesCrateService.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
Labels: Area: Agent

docstring
  app/HutchAgent/Services/BagItService.cs
Labels: Area: Agent

fix broken test
  app/HutchAgent.Tests/TestFiveSafesCrateService.cs
Labels: none

download hutch
  ansible/playbook.yml
Labels: none

unzip hutch
  ansible/playbook.yml
Labels: none

add zip and unzip
  ansible/playbooks/set-up-vm.yml
Labels: none

download and make hutch runnable
  ansible/playbook.yml
Labels: none

add docker compose conditionally
  ansible/playbook.yml
  ansible/playbooks/files/docker-compose.yml
Labels: none

update playbook.yml
  ansible/playbook.yml
Labels: none

set up hutch agent daemon
  ansible/playbook.yml
  ansible/playbooks/files/hutch-agent.service
Labels: none

AB#108973: Verify BagIt Checksums before execution? (#270)
  app/HutchAgent.Tests/HutchAgent.Tests.csproj
  app/HutchAgent.Tests/TestBagItService.cs
  app/HutchAgent.Tests/TestBagit/bagit-info.txt
  app/HutchAgent.Tests/TestBagit/bagit.txt
  app/HutchAgent.Tests/TestBagit/data/hello.txt
  app/HutchAgent.Tests/TestBagit/manifest-sha512.txt
  app/HutchAgent.Tests/TestBagit/tagmanifest-sha512.txt
  app/HutchAgent.Tests/TestFiveSafesCrateService.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/BagItService.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
Labels: Area: Agent

fixing workflow test project paths
  .github/workflows/build.HutchAgent.yml
  .github/workflows/publish.HutchAgent.yml
Labels: Area: CI

moving some projects around
  Hutch.sln
  app/DummyControllerApi/Config/EgressBucketDetailsOptions.cs
  app/DummyControllerApi/Controllers/SubmissionController.cs
  app/DummyControllerApi/DummyControllerApi.csproj
  app/DummyControllerApi/Models/EgressBucketResponseModel.cs
  app/DummyControllerApi/Models/FilesReadyRequestModel.cs
  app/DummyControllerApi/Models/FinalOutcomeRequestModel.cs
  app/DummyControllerApi/Models/HutchApprovalRequestModel.cs
  app/DummyControllerApi/Models/UpdateStatusResponseModel.cs
  app/DummyControllerApi/Program.cs
  app/DummyControllerApi/Properties/launchSettings.json
  app/DummyControllerApi/Services/EgressApprovalHostedService.cs
  app/DummyControllerApi/Services/InMemoryApprovalQueue.cs
  app/DummyControllerApi/appsettings.Development.json
  app/DummyControllerApi/appsettings.json
  test/HutchAgent.Tests/AsyncHandlers/AsyncEnumerable.cs
  test/HutchAgent.Tests/AsyncHandlers/AsyncEnumerator.cs
  test/HutchAgent.Tests/AsyncHandlers/AsyncQueryProvider.cs
  test/HutchAgent.Tests/HutchAgent.Tests.csproj
  test/HutchAgent.Tests/MinioStoreServiceTests/TestUploadFilesRecursively.cs
  test/HutchAgent.Tests/TestBagItService.cs
  test/HutchAgent.Tests/TestChecksumUtility.cs
  test/HutchAgent.Tests/TestFileSystemResultsStoreService.cs
  test/HutchAgent.Tests/TestFiveSafesCrateService.cs
  test/HutchAgent.Tests/TestWorkflowJobService.cs
  test/HutchAgent.Tests/Usings.cs
Labels: none

added serilog logging
  DummyControllerApi/DummyControllerApi.csproj
  DummyControllerApi/Program.cs
  DummyControllerApi/appsettings.json
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Program.cs
  app/HutchAgent/appsettings.json
Labels: Area: Agent

added development defaults for debug logging
  app/DummyControllerApi/appsettings.Development.json
  app/DummyControllerApi/appsettings.json
  app/HutchAgent/appsettings.Development.json
Labels: Area: Agent

changed a bunch of information logging to be debug instead
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/Services/WorkflowFetchService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

updated some logging settings
  DummyControllerApi/appsettings.json
  app/HutchAgent/appsettings.json
Labels: Area: Agent

fixing test project ref
  test/HutchAgent.Tests/HutchAgent.Tests.csproj
Labels: none

tiny fix
  DummyControllerApi/Controllers/SubmissionController.cs
Labels: none

added Hutch to logging config to make it easier to change
  app/HutchAgent/appsettings.json
Labels: Area: Agent

whoops missed a file
  .github/workflows/build.HutchAgent.yml
Labels: Area: CI

relocating some newly added test files
  test/HutchAgent.Tests/TestBagit/bagit-info.txt
  test/HutchAgent.Tests/TestBagit/bagit.txt
  test/HutchAgent.Tests/TestBagit/data/hello.txt
  test/HutchAgent.Tests/TestBagit/manifest-sha512.txt
  test/HutchAgent.Tests/TestBagit/tagmanifest-sha512.txt
Labels: none

Add check for relative and absolute workflow paths
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
Labels: Area: Agent

rename to bag-info.txt
  .idea/.idea.Hutch/.idea/indexLayout.xml
  app/HutchAgent/Services/BagItService.cs
  test/HutchAgent.Tests/TestBagItService.cs
  test/HutchAgent.Tests/TestBagit/bag-info.txt
  test/HutchAgent.Tests/TestBagit/tagmanifest-sha512.txt
Labels: Area: Agent

AB#132633: `bag-info.txt` not `bagit-info.txt` (#272)
  .idea/.idea.Hutch/.idea/indexLayout.xml
  app/HutchAgent/Services/BagItService.cs
  test/HutchAgent.Tests/TestBagItService.cs
  test/HutchAgent.Tests/TestBagit/bag-info.txt
  test/HutchAgent.Tests/TestBagit/tagmanifest-sha512.txt
Labels: Area: Agent

refactored to make the directory deletion a utility and testable. added tests.
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
  app/HutchAgent/Utilities/FileSystemUtility.cs
  test/HutchAgent.Tests/FileSystemUtilityTests/TestSelectivelyDelete.cs
  test/HutchAgent.Tests/HutchAgent.Tests.csproj
Labels: Area: Agent

when containers are deleted from ouputs, we retain metadata files
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

clearer regex naming
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

Add environment parameter to WorkflowStageFile.cs object
  app/HutchAgent/Models/Wfexs/WorkflowStageFile.cs
Labels: Area: Agent

AB#131799: when containers are deleted from ouputs, we retain metadata files (#273)
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
  app/HutchAgent/Utilities/FileSystemUtility.cs
  test/HutchAgent.Tests/FileSystemUtilityTests/TestSelectivelyDelete.cs
  test/HutchAgent.Tests/HutchAgent.Tests.csproj
Labels: Area: Agent

Move db params to environment object
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

remove check for absolute path
  app/HutchAgent/Services/FiveSafesCrateService.cs
Labels: Area: Agent
