Repository HDRUK/hutch, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Agent, Area: Docs, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Agent":
  - app/HutchAgent/**/*
"Area: Docs":
  - website/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

remove AddWorkflowEntity, not needed
  app/HutchAgent/Services/FiveSafesCrateService.cs
Labels: Area: Agent

remove unnecessary import
  app/HutchAgent/Services/FiveSafesCrateService.cs
Labels: Area: Agent

Add docstring & pass in string instead of worflowJob
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
Labels: Area: Agent

test data for config parsing
  test/HutchAgent.Tests/Data/testConfigParse.json
  test/HutchAgent.Tests/HutchAgent.Tests.csproj
Labels: none

AB#130480: Set DB settings as env vars in stage file (#274)
  app/HutchAgent/Models/Wfexs/WorkflowStageFile.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

save current progress
  app/HutchAgent/Utilities/ConfigPropsParsingUtility.cs
  test/HutchAgent.Tests/TestConfigPropParsingUtility.cs
Labels: Area: Agent

check if downloadAction exists on stage file writing
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

Update CratePublishingOptions.cs
  app/HutchAgent/Config/CratePublishingOptions.cs
  test/HutchAgent.Tests/TestFiveSafesCrateService.cs
Labels: Area: Agent

update FiveSafesCrateService.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
Labels: Area: Agent

remove ConfigPropsParsingUtility.cs
  app/HutchAgent/Utilities/ConfigPropsParsingUtility.cs
  test/HutchAgent.Tests/Data/testConfigParse.json
  test/HutchAgent.Tests/HutchAgent.Tests.csproj
  test/HutchAgent.Tests/TestConfigPropParsingUtility.cs
Labels: Area: Agent

AB#126517: Update Ansible to fetch a release instead of cloning git (#271)
  ansible/playbook.yml
  ansible/playbooks/files/docker-compose.yml
  ansible/playbooks/files/hutch-agent.service
  ansible/playbooks/set-up-vm.yml
Labels: none

update docstring
  app/HutchAgent/Services/FiveSafesCrateService.cs
Labels: Area: Agent

update comment
  app/HutchAgent/Services/FiveSafesCrateService.cs
Labels: Area: Agent

AB#124151: Crate relative workflow path (#275)
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

AB#130908: License properties? seem to be broken. (#276)
  app/HutchAgent/Config/CratePublishingOptions.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
  test/HutchAgent.Tests/TestFiveSafesCrateService.cs
Labels: Area: Agent

Dummy Controller API approval request sends butcket details
  app/DummyControllerApi/Services/EgressApprovalHostedService.cs
Labels: none

fixing mapping profile
  app/HutchAgent/MappingProfiles/MinioOptionsProfile.cs
Labels: Area: Agent

Dummy Controller API supports specifying egress bucket path
  app/DummyControllerApi/Config/EgressBucketDetailsOptions.cs
  app/DummyControllerApi/Controllers/SubmissionController.cs
Labels: none

updated dummy TRE Controller API to match agreed api changes
  app/DummyControllerApi/Models/EgressBucketResponseModel.cs
  app/DummyControllerApi/Models/HutchApprovalRequestModel.cs
Labels: none

updated hutch to receive the correct response from GetOutputBucketInfo endpoint
  app/HutchAgent/MappingProfiles/MinioOptionsProfile.cs
  app/HutchAgent/Models/ControllerApi/GetOutputBucketInfoReponse.cs
  app/HutchAgent/Models/FileStorageDetails.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent

approval merges new bucket details if provided
  app/HutchAgent/Controllers/JobsController.cs
Labels: Area: Agent

hutch uses egress details subfolder path when uploading outputs for checking
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
Labels: Area: Agent

Finalize uploads include provided path prefix
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
Labels: Area: Agent

hutch approval endpoint request model includes file storage details
  app/HutchAgent/Models/ApprovalResult.cs
Labels: Area: Agent

AB#132881: Controller api changes (#277)
  app/DummyControllerApi/Config/EgressBucketDetailsOptions.cs
  app/DummyControllerApi/Controllers/SubmissionController.cs
  app/DummyControllerApi/Models/EgressBucketResponseModel.cs
  app/DummyControllerApi/Models/HutchApprovalRequestModel.cs
  app/DummyControllerApi/Services/EgressApprovalHostedService.cs
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/MappingProfiles/MinioOptionsProfile.cs
  app/HutchAgent/Models/ApprovalResult.cs
  app/HutchAgent/Models/ControllerApi/GetOutputBucketInfoReponse.cs
  app/HutchAgent/Models/FileStorageDetails.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent

version++
  app/HutchAgent/HutchAgent.csproj
Labels: Area: Agent

bump default ansible Hutch release
  ansible/playbook.yml
Labels: none

`PathOptions.WorkingDirectoryBase` defaults to $HOME/hutch-workdir
  app/HutchAgent/Config/PathOptions.cs
Labels: Area: Agent

enumify container types
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
  app/HutchAgent/Constants/ContainerEngineType.cs
  app/HutchAgent/Models/DatabaseConnectionDetails.cs
  app/HutchAgent/Models/Wfexs/WorkflowStageFile.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

default more paths to the $HOME directory
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
  app/HutchAgent/Models/Wfexs/WorkflowStageFile.cs
Labels: Area: Agent

update agent configuration page in docs
  website/docs/getting-started/configuration/agent.md
Labels: Area: Docs

Apply suggestions from code review
  website/docs/getting-started/configuration/agent.md
Labels: Area: Docs

AB#129760: Working Directory Path (#278)
  app/HutchAgent/Config/PathOptions.cs
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
  app/HutchAgent/Constants/ContainerEngineType.cs
  app/HutchAgent/Models/DatabaseConnectionDetails.cs
  app/HutchAgent/Models/Wfexs/WorkflowStageFile.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
  website/docs/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs

add new methods
  app/HutchAgent/Services/OpenIdIdentityService.cs
Labels: Area: Agent

update method signatures
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/Services/OpenIdIdentityService.cs
Labels: Area: Agent

update MinioStoreService.cs
  app/HutchAgent/Services/MinioStoreService.cs
Labels: Area: Agent

Change minio image version
  ansible/playbooks/files/docker-compose.yml
Labels: none

Using AssumeRoleWithClientGrants action to refresh tokens for minio
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/Services/OpenIdIdentityService.cs
Labels: Area: Agent

missing port for keycloak image config
  ansible/playbooks/files/docker-compose.yml
Labels: none

database guidance
  website/docs/external-systems/keycloak/index.md
Labels: Area: Docs
