Repository HDRUK/hutch, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Manager Frontend, Area: Manager Backend API, Area: Agent, Contains: Migrations

fix pytest warnings
  app/LinkLiteAgent/linkliteagent/db_manager.py
  app/LinkLiteAgent/tests/test_db_logging.py
Labels: Area: Agent

fix typo in test
  app/LinkLiteAgent/tests/test_db_logging.py
Labels: Area: Agent

AB#59382: Feature/db manager 4 lla (#4)
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

remove id from .csproj file
  app/LinkLiteManager/LinkLiteManager.csproj
Labels: Area: Manager Backend API

docker image for rabbitmq
  docker-compose.yml
Labels: none

add pika; remove celery
  app/LinkLiteAgent/poetry.lock
  app/LinkLiteAgent/pyproject.toml
Labels: Area: Agent

configure logging in `main.py`
  app/LinkLiteAgent/linkliteagent/main.py
Labels: Area: Agent

function to connect to rabbitmq
  app/LinkLiteAgent/linkliteagent/main.py
  app/LinkLiteAgent/linkliteagent/message_queue.py
Labels: Area: Agent

disconnect function
  app/LinkLiteAgent/linkliteagent/main.py
  app/LinkLiteAgent/linkliteagent/message_queue.py
Labels: Area: Agent

add note about db logging
  app/LinkLiteAgent/README.md
Labels: Area: Agent

change queue name; queue starts consuming
  app/LinkLiteAgent/linkliteagent/main.py
Labels: Area: Agent

Fix all nullable property warnings
  app/LinkLiteManager/Data/Entities/ActivitySource.cs
  app/LinkLiteManager/Data/Entities/SourceType.cs
Labels: Area: Manager Backend API

place holder for query callback
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

put query callback in main; tidy up main
  app/LinkLiteAgent/linkliteagent/main.py
Labels: Area: Agent

AB#58884: Agent Database Logging (#6)
  app/LinkLiteAgent/README.md
  app/LinkLiteAgent/linkliteagent/db_logging.py
  app/LinkLiteAgent/linkliteagent/db_manager.py
  app/LinkLiteAgent/poetry.lock
  app/LinkLiteAgent/pyproject.toml
  app/LinkLiteAgent/tests/test_db_logging.py
  app/LinkLiteAgent/tox.ini
Labels: Area: Agent

AB#58550: Setup configuration database (#5)
  app/LinkLiteManager/Data/Entities/ActivitySource.cs
  app/LinkLiteManager/Data/Entities/SourceType.cs
  app/LinkLiteManager/LinkLiteManager.csproj
  app/LinkLiteManager/Program.cs
  app/LinkLiteManager/appsettings.Development.json
Labels: Area: Manager Backend API

python version of poc `LinkLite.Services.QueryServices.Constants`
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

draft of RQuestQuery class
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

draft RQuestCohort class
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

draft of RQuestQueryGroup
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

draft of RQuestQueryRule
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

constructors for rquest classes chain convert to each other
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

Add controller, service, model for ActivitySource & SourceType
  app/LinkLiteManager/Controllers/ActivitySourceController.cs
  app/LinkLiteManager/Data/ApplicationDbContext.cs
  app/LinkLiteManager/Models/ActivitySource.cs
  app/LinkLiteManager/Models/SourceType.cs
  app/LinkLiteManager/Services/ActivitySourceService.cs
  app/LinkLiteManager/Services/SourceTypeService.cs
Labels: Area: Manager Backend API

Remove SourceType model
  app/LinkLiteManager/Controllers/ActivitySourceController.cs
  app/LinkLiteManager/Data/ApplicationDbContext.cs
  app/LinkLiteManager/Data/Entities/ActivitySource.cs
  app/LinkLiteManager/Data/Entities/SourceType.cs
  app/LinkLiteManager/Models/ActivitySource.cs
  app/LinkLiteManager/Models/SourceType.cs
  app/LinkLiteManager/Services/ActivitySourceService.cs
  app/LinkLiteManager/Services/SourceTypeService.cs
Labels: Area: Manager Backend API

adding local dotnet ef tools
  .config/dotnet-tools.json
Labels: none

fixing some settings
  app/LinkLiteManager/LinkLiteManager.csproj
  app/LinkLiteManager/appsettings.Development.json
Labels: Area: Manager Backend API

adding initial migration
  app/LinkLiteManager/Data/Migrations/20220524142106_Initial.Designer.cs
  app/LinkLiteManager/Data/Migrations/20220524142106_Initial.cs
  app/LinkLiteManager/Data/Migrations/ApplicationDbContextModelSnapshot.cs
Labels: Area: Manager Backend API, Contains: Migrations

adding dev environment api auth bypass
  app/LinkLiteManager/Auth/AuthPolicies.cs
Labels: Area: Manager Backend API

test for unpacking query json into objects
  app/LinkLiteAgent/tests/test_query.py
  app/LinkLiteAgent/tox.ini
Labels: Area: Agent

add auto acknowledgement of message receipt to `main.py`
  app/LinkLiteAgent/linkliteagent/main.py
Labels: Area: Agent

call back decodes query
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

convert rule type to dict of functions
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

fix broken test
  app/LinkLiteAgent/tests/test_query.py
Labels: Area: Agent

sql_clause property in rquest query rule
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

formatting
  app/LinkLiteAgent/linkliteagent/main.py
Labels: Area: Agent

test for sql clause compilation
  app/LinkLiteAgent/tests/test_query.py
Labels: Area: Agent

sql clauses for groups
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/tests/test_query.py
Labels: Area: Agent

Update app/LinkLiteAgent/linkliteagent/main.py
  app/LinkLiteAgent/linkliteagent/main.py
Labels: Area: Agent

cohort sql clause
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/tests/test_query.py
Labels: Area: Agent

Add CreateActivityService
  app/LinkLiteManager/Controllers/ActivitySourceController.cs
  app/LinkLiteManager/Models/CreateActivitySource.cs
  app/LinkLiteManager/Program.cs
  app/LinkLiteManager/Services/ActivitySourceService.cs
Labels: Area: Manager Backend API

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Manager Frontend":
  - app/manager-frontend/**/*
"Area: Manager Backend API":
  - app/LinkLiteManager/**/*
"Area: Agent":
  - app/LinkLiteAgent/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
