Repository HDRUK/hutch, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Agent, Area: Docs, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Agent":
  - app/HutchAgent/**/*
"Area: Docs":
  - website/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

docs homepage link fix
  website/src/pages/index.tsx
Labels: Area: Docs

updated jobs endpoint interface, and WorkflowJob entity
  app/HutchAgent.Tests/TestWorkflowJobService.cs
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Data/Entities/WorkflowJob.cs
  app/HutchAgent/Models/SubmitJobModel.cs
  app/HutchAgent/Models/WorkflowJob.cs
  app/HutchAgent/Services/WorkflowJobService.cs
Labels: Area: Agent

adding swagger
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Program.cs
Labels: Area: Agent

Path config updates and helpers
  app/HutchAgent/Config/PathOptions.cs
  app/HutchAgent/Constants/JobPaths.cs
Labels: Area: Agent

updating initial statuses and job actions
  app/HutchAgent/Constants/JobActionTypes.cs
  app/HutchAgent/Constants/JobStatuses.cs
Labels: Area: Agent

JobQueueMessage supports an optional payload type
  app/HutchAgent/Models/JobQueue/JobQueueMessage.cs
  app/HutchAgent/Models/JobQueueMessage.cs
Labels: Area: Agent

namespaces
  app/HutchAgent/Services/Contracts/IQueueReader.cs
  app/HutchAgent/Services/Contracts/IQueueWriter.cs
  app/HutchAgent/Services/RabbitQueueReader.cs
  app/HutchAgent/Services/RabbitQueueWriter.cs
Labels: Area: Agent

initial status reporting stub service
  app/HutchAgent/Services/StatusReportingService.cs
Labels: Area: Agent

tidying some logging on the way past
  app/HutchAgent/Services/CrateService.cs
Labels: Area: Agent

model changes for submitting / recording job status
  app/HutchAgent/Models/JobStatusModel.cs
  app/HutchAgent/Models/SubmitJobModel.cs
  app/HutchAgent/Models/WorkflowJob.cs
Labels: Area: Agent

project updates ready for swagger
  app/HutchAgent/HutchAgent.csproj
Labels: Area: Agent

submit action reworked
  app/HutchAgent/Controllers/JobsController.cs
Labels: Area: Agent

action payload
  app/HutchAgent/Models/JobQueue/FetchAndExecutePayload.cs
Labels: Area: Agent

added post-refactor initial migration for local status db
  app/HutchAgent/Data/Migrations/20230921145246_Initial.Designer.cs
  app/HutchAgent/Data/Migrations/20230921145246_Initial.cs
  app/HutchAgent/Data/Migrations/HutchAgentContextModelSnapshot.cs
Labels: Area: Agent, Contains: Migrations

updated Submit working as intended
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Program.cs
Labels: Area: Agent

gitignore sqlite databases
  .gitignore
Labels: none

Crate Submission endpoint added; further refactoring and swagger docs
  app/HutchAgent.Tests/TestWorkflowJobService.cs
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Data/Entities/WorkflowJob.cs
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/MappingProfiles/WorkflowJobProfile.cs
  app/HutchAgent/Models/JobQueue/FetchAndExecutePayload.cs
  app/HutchAgent/Models/JobQueue/JobQueueMessage.cs
  app/HutchAgent/Models/WorkflowJob.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Results/BasicResult.cs
  app/HutchAgent/Services/CrateService.cs
  app/HutchAgent/Services/JobLifecycleService.cs
  app/HutchAgent/Services/RequestCrateService.cs
  app/HutchAgent/Services/WorkflowJobService.cs
Labels: Area: Agent

Starting to tidy JobActions
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/Contracts/IActionHandler.cs
  app/HutchAgent/Services/Hosted/JobPollingHostedService.cs
  app/HutchAgent/Services/Hosted/QueuePollingHostedService.cs
Labels: Area: Agent

ActionHandlers now have a contract; refactored QueuePoller
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/Hosted/JobActionQueuePoller.cs
Labels: Area: Agent

clarifying thoughts, minor Finalize updates (wip)
  app/HutchAgent/Constants/JobActionTypes.cs
  app/HutchAgent/Services/FinaliseActionHandler.cs
Labels: Area: Agent

ActionHandler Exception Handling
  app/HutchAgent/Services/Hosted/JobActionQueuePoller.cs
Labels: Area: Agent

StatusReporting now async, since it will need to be
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Services/RequestCrateService.cs
  app/HutchAgent/Services/StatusReportingService.cs
Labels: Area: Agent

implemented FetchAndExecuteActionHandler
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/JobLifecycleService.cs
Labels: Area: Agent

Making FetchAndExecute work
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Data/Migrations/20230922112429_CrateSource.Designer.cs
  app/HutchAgent/Data/Migrations/20230922112429_CrateSource.cs
  app/HutchAgent/Models/JobQueue/JobQueueMessage.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/Hosted/JobActionQueuePoller.cs
Labels: Area: Agent, Contains: Migrations

catching non-zip crate files
  app/HutchAgent/Services/JobLifecycleService.cs
Labels: Area: Agent

gitignore the default working directory
  .gitignore
  app/HutchAgent/Config/PathOptions.cs
Labels: Area: Agent

Crate URLs are now validated early; wip implementation of ProvideCrateUrl endpoint
  app/HutchAgent/Controllers/JobsController.cs
Labels: Area: Agent

tiny fixes - endpoints appear to be working as expected
  app/HutchAgent/Controllers/JobsController.cs
Labels: Area: Agent

flattened migrations
  app/HutchAgent/Data/Migrations/20230921145246_Initial.Designer.cs
  app/HutchAgent/Data/Migrations/20230922112429_CrateSource.cs
  app/HutchAgent/Data/Migrations/20230922124813_Initial.Designer.cs
  app/HutchAgent/Data/Migrations/20230922124813_Initial.cs
Labels: Area: Agent, Contains: Migrations

fixing success result when crates are valid
  app/HutchAgent/Services/RequestCrateService.cs
Labels: Area: Agent

AB#126513: Jobs endpoints (#244)
  .gitignore
  app/HutchAgent.Tests/TestWorkflowJobService.cs
  app/HutchAgent/Config/PathOptions.cs
  app/HutchAgent/Constants/JobActionTypes.cs
  app/HutchAgent/Constants/JobPaths.cs
  app/HutchAgent/Constants/JobStatuses.cs
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Data/Entities/WorkflowJob.cs
  app/HutchAgent/Data/Migrations/20230922124813_Initial.Designer.cs
  app/HutchAgent/Data/Migrations/20230922124813_Initial.cs
  app/HutchAgent/Data/Migrations/HutchAgentContextModelSnapshot.cs
  app/HutchAgent/HostedServices/QueuePollingHostedService.cs
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/MappingProfiles/WorkflowJobProfile.cs
  app/HutchAgent/Models/JobQueue/JobQueueMessage.cs
  app/HutchAgent/Models/JobQueueMessage.cs
  app/HutchAgent/Models/JobStatusModel.cs
  app/HutchAgent/Models/SubmitJobModel.cs
  app/HutchAgent/Models/WorkflowJob.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Results/BasicResult.cs
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/Contracts/IActionHandler.cs
  app/HutchAgent/Services/Contracts/IQueueReader.cs
  app/HutchAgent/Services/Contracts/IQueueWriter.cs
  app/HutchAgent/Services/CrateService.cs
  app/HutchAgent/Services/FinaliseActionHandler.cs
  app/HutchAgent/Services/Hosted/JobActionQueuePoller.cs
  app/HutchAgent/Services/Hosted/JobPollingHostedService.cs
  app/HutchAgent/Services/JobLifecycleService.cs
  app/HutchAgent/Services/RabbitQueueReader.cs
  app/HutchAgent/Services/RabbitQueueWriter.cs
  app/HutchAgent/Services/RequestCrateService.cs
  app/HutchAgent/Services/StatusReportingService.cs
  app/HutchAgent/Services/WorkflowJobService.cs
Labels: Area: Agent, Contains: Migrations

Create WorkflowStageFile.cs object
  app/HutchAgent/Models/WorkflowStageFile.cs
Labels: Area: Agent

amend paths to match workdir setup
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
Labels: Area: Agent

Fix paths to extract to
  app/HutchAgent/Services/WorkflowFetchService.cs
Labels: Area: Agent

Change WorkflowStageFile.cs Params to object type
  app/HutchAgent/Models/WorkflowStageFile.cs
Labels: Area: Agent

Create WriteStageFile method in WorkflowTriggerService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

versioning + githash support
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Program.cs
Labels: Area: Agent

Populate parameters with generic dict object
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

theoretical publish workflow
  .github/workflows/publish.HutchAgent.yml
Labels: Area: CI

workflow name fix
  .github/workflows/publish.HutchAgent.yml
Labels: Area: CI
