Repository HDRUK/hutch, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Agent, Area: Docs, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Agent":
  - app/HutchAgent/**/*
"Area: Docs":
  - website/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

FinalizeActionHandler does clean up
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ActionHandlers/FinaliseActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
Labels: Area: Agent

Change workflowid path & git config on initialisation
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

placeholders for methods
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent

Add back InitiateEgress Queue Action
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
Labels: Area: Agent

InitiateEgress stores egress details; Finalize uses them to upload.
  app/HutchAgent/Data/Entities/WorkflowJob.cs
  app/HutchAgent/Models/FileStorageDetails.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/MinioStoreService.cs
Labels: Area: Agent

remove logging
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

comment out queueing
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
Labels: Area: Agent

removed now irrelevant FiveSafesCrateService tests; updated AddLicense tests
  app/HutchAgent.Tests/TestFiveSafesCrateService.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
Labels: Area: Agent

Metadata update tests are currently unfixable.
  app/HutchAgent.Tests/TestFiveSafesCrateService.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
Labels: Area: Agent

enabled handling of Finalize Actions
  app/HutchAgent/Services/Hosted/JobActionQueuePoller.cs
Labels: Area: Agent

MinioOptions properties match other storage definition models
  app/HutchAgent/Config/MinioOptions.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/MinioStoreService.cs
  website/docs/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs

removed unused PublisherOptions file
  app/HutchAgent/Config/PublisherOptions.cs
Labels: Area: Agent

AB#130099: Finalize actionhandler (#250)
  app/HutchAgent.Tests/HutchAgent.Tests.csproj
  app/HutchAgent.Tests/TestCrateService.cs
  app/HutchAgent.Tests/TestFiveSafesCrateService.cs
  app/HutchAgent/Config/CratePublishingOptions.cs
  app/HutchAgent/Config/LicenseOptions.cs
  app/HutchAgent/Config/MinioOptions.cs
  app/HutchAgent/Config/PublisherOptions.cs
  app/HutchAgent/Data/Entities/WorkflowJob.cs
  app/HutchAgent/Models/FileStorageDetails.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/FinaliseActionHandler.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
  app/HutchAgent/Services/Hosted/JobActionQueuePoller.cs
  app/HutchAgent/Services/Hosted/JobPollingHostedService.cs
  app/HutchAgent/Services/JobLifecycleService.cs
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/Services/RequestCrateService.cs
  app/HutchAgent/Services/WorkflowFetchService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
  app/HutchAgent/Utilities/FilesystemUtility.cs
  website/docs/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs

FileForReviewModel.cs
  app/HutchAgent/Models/FileForReviewModel.cs
Labels: Area: Agent

use uon wfexs fork
  ansible/playbooks/wfexs.yml
Labels: none

remove dodgy methods
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent

Revert "remove dodgy methods"
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent

method to update the status in ControllerApiService.cs
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent

read standard output for git process
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

add --full tag on wfexs execute command
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

uncomment queuewriter
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
Labels: Area: Agent

set baseurl if not empty
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent

API to report status to submission layer in StatusReportingService.cs
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/Services/StatusReportingService.cs
Labels: Area: Agent

AB#130251: Use UoN wfexs fork (#251)
  ansible/playbooks/wfexs.yml
Labels: none

change IntialiseRepo return type to Task
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

fix async warning
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

AB#108979: Write a Wfexs stage file to the Data/ folder (#252)
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Models/WorkflowStageFile.cs
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/Services/WorkflowFetchService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

remove file not part of PBI
  app/HutchAgent/Models/FileForReviewModel.cs
Labels: Area: Agent

throw exceptions in StatusReportingService.cs
  app/HutchAgent/Services/StatusReportingService.cs
Labels: Area: Agent

use relative URIs
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent

check for standalone mode in StatusReportingService.cs
  app/HutchAgent/Services/StatusReportingService.cs
Labels: Area: Agent

AB#126519: Status updates workflow (#253)
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/Services/StatusReportingService.cs
Labels: Area: Agent

FileForReviewModel.cs
  app/HutchAgent/Models/FileForReviewModel.cs
Labels: Area: Agent

Added some general logging for InitiateEgress handler
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

moving stuff to use flurl
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/JobLifecycleService.cs
  app/HutchAgent/Services/WorkflowFetchService.cs
Labels: Area: Agent

InitiateEgress Controller API calls are in place.
  app/HutchAgent/Config/ControllerApiOptions.cs
  app/HutchAgent/Models/ControllerApi/FilesReadyForReviewRequest.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/Services/MinioStoreService.cs
Labels: Area: Agent

post rebase tidy
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
Labels: Area: Agent

InitiateEgress updates the working crate metadata with execution completed
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
  app/HutchAgent/Services/JobLifecycleService.cs
Labels: Area: Agent

InitiateEgress creates DisclosureCheck AssessAction
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
  app/HutchAgent/Services/JobLifecycleService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

moved status updates in ControllerApi to flurl
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent
