Repository HDRUK/hutch, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Agent, Area: Docs, Contains: Migrations

Tests for UploadFilesRecursively
  app/HutchAgent.Tests/MinioStoreServiceTests/TestUploadFilesRecursively.cs
  app/HutchAgent/Services/MinioStoreService.cs
Labels: Area: Agent

🔥 we don't need this file
  app/HutchAgent/Models/FileForReviewModel.cs
Labels: Area: Agent

forgot to save the crate metadata after adding disclosure check
  app/HutchAgent/Services/JobLifecycleService.cs
Labels: Area: Agent

ApprovalType.cs
  app/HutchAgent/Constants/ApprovalType.cs
Labels: Area: Agent

removed spurious todo
  app/HutchAgent.Tests/MinioStoreServiceTests/TestUploadFilesRecursively.cs
Labels: none

approval model
  app/HutchAgent/Constants/ApprovalType.cs
  app/HutchAgent/Models/ApprovalResult.cs
Labels: Area: Agent

AB#126520: Egress bucket api call (#254)
  app/HutchAgent.Tests/MinioStoreServiceTests/TestUploadFilesRecursively.cs
  app/HutchAgent/Config/ControllerApiOptions.cs
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Models/ControllerApi/FilesReadyForReviewRequest.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
  app/HutchAgent/Services/JobLifecycleService.cs
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/Services/WorkflowFetchService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

added status reporting to FinalizeActionHandler
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
Labels: Area: Agent

added status reporting to ExecuteActionHandler
  app/HutchAgent/Models/Wfexs/WorkflowStageFile.cs
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

typo fix
  app/HutchAgent/Controllers/JobsController.cs
Labels: Area: Agent

path fixes
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/WorkflowFetchService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

explicit crate save paths
  app/HutchAgent/Services/JobLifecycleService.cs
Labels: Area: Agent

AB#130322: Status updates (#255)
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Models/Wfexs/WorkflowStageFile.cs
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/JobLifecycleService.cs
  app/HutchAgent/Services/WorkflowFetchService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

seperated disclosure check completion from FinalizeMetadata
  app/HutchAgent/Services/FiveSafesCrateService.cs
Labels: Area: Agent

remove status update from FinalizeActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
Labels: Area: Agent

DisclosureCheckCompleted in JobLifecycleService.cs + docstrings :)
  app/HutchAgent/Services/JobLifecycleService.cs
Labels: Area: Agent

implement logic Approval in JobsController.cs
  app/HutchAgent/Controllers/JobsController.cs
Labels: Area: Agent

fixing stuff i broke 😅
  .github/workflows/deploy.docs-website.yml
Labels: Area: CI

swagger ui config
  website/src/pages/swagger.tsx
Labels: Area: Docs

docs workflow generates swagger spec for website
  .github/workflows/deploy.docs-website.yml
Labels: Area: CI

added swagger-ui to docs website
  pnpm-lock.yaml
  website/package.json
  website/src/pages/swagger.tsx
Labels: Area: Docs

making the jobs dependent
  .github/workflows/deploy.docs-website.yml
Labels: Area: CI

adding swashbuckle cli to repo tools
  .config/dotnet-tools.json
Labels: none

using newer node for docs
  .github/workflows/build.docs-website.yml
  .github/workflows/deploy.docs-website.yml
Labels: Area: CI

swagger docs for Approval
  app/HutchAgent/Controllers/JobsController.cs
Labels: Area: Agent

comments for when more approval/rejection steps are worked out
  app/HutchAgent/Controllers/JobsController.cs
Labels: Area: Agent

return a job status from Approval
  app/HutchAgent/Controllers/JobsController.cs
Labels: Area: Agent

AB#130446: Standalone swagger in docs website (#256)
  .config/dotnet-tools.json
  .github/workflows/build.docs-website.yml
  .github/workflows/deploy.docs-website.yml
  pnpm-lock.yaml
  website/package.json
  website/src/pages/swagger.tsx
Labels: Area: CI, Area: Docs

remove unneeded JsonPropertyName
  app/HutchAgent/Models/ApprovalResult.cs
Labels: Area: Agent

record 400 in swagger for Approval
  app/HutchAgent/Controllers/JobsController.cs
Labels: Area: Agent

AB#130098: Approval Endpoint (#257)
  app/HutchAgent/Constants/ApprovalType.cs
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Models/ApprovalResult.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
  app/HutchAgent/Services/JobLifecycleService.cs
Labels: Area: Agent

resolving obsolescence
  app/HutchAgent/Services/FileSystemResultsStoreService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

Check Workflow is relative path
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
Labels: Area: Agent

AB#125570: resolving obsolescence (#258)
  app/HutchAgent/Services/FileSystemResultsStoreService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

docs deployment now depends on changes to HutchAgent so that we rebuild swagger if the assembly changes
  .github/workflows/deploy.docs-website.yml
Labels: Area: CI

AB#130446: docs build runs on dotnet changes for swagger (#259)
  .github/workflows/deploy.docs-website.yml
Labels: Area: CI

config docs update
  website/docs/getting-started/configuration/agent.md
Labels: Area: Docs

fixing LicenseOptions
  app/HutchAgent/Config/CratePublishingOptions.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
Labels: Area: Agent

hopefully fixing zip extraction
  app/HutchAgent/Services/WorkflowFetchService.cs
Labels: Area: Agent

fixing tests
  app/HutchAgent.Tests/TestFiveSafesCrateService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Agent":
  - app/HutchAgent/**/*
"Area: Docs":
  - website/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
