Repository HDRUK/hutch, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Manager Frontend, Area: Manager Backend API, Area: Agent, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Manager Frontend":
  - app/manager-frontend/**/*
"Area: Manager Backend API":
  - app/LinkLiteManager/**/*
"Area: Agent":
  - app/LinkLiteAgent/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

move `LinkLiteAgent` to `app`
  app/LinkLiteAgent/.gitignore
  app/LinkLiteAgent/README.md
  app/LinkLiteAgent/linkliteagent/__init__.py
  app/LinkLiteAgent/linkliteagent/main.py
  app/LinkLiteAgent/poetry.lock
  app/LinkLiteAgent/pyproject.toml
  app/LinkLiteAgent/tests/__init__.py
  app/LinkLiteAgent/tests/test_linkliteagent.py
  app/LinkLiteAgent/tox.ini
Labels: Area: Agent

add postgres deps
  app/LinkLiteAgent/poetry.lock
  app/LinkLiteAgent/pyproject.toml
Labels: Area: Agent

AB#59215: Create hello world python entrypoint app - omop agent (#1)
  app/LinkLiteAgent/.gitignore
  app/LinkLiteAgent/README.md
  app/LinkLiteAgent/linkliteagent/__init__.py
  app/LinkLiteAgent/linkliteagent/main.py
  app/LinkLiteAgent/poetry.lock
  app/LinkLiteAgent/pyproject.toml
  app/LinkLiteAgent/tests/__init__.py
  app/LinkLiteAgent/tests/test_linkliteagent.py
  app/LinkLiteAgent/tox.ini
Labels: Area: Agent

base db manager class
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

docstring for `BaseDBManager`
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

Create docker-compose file
  docker-compose.yml
Labels: none

AB#59321: Add docker compose file for dev postgres service
  docker-compose.yml
Labels: none

synchronous db manager
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

async db manager
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

`NotImplementedError` in `BaseDBManager`
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

tidy up docstrings
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

add missing `dispose` calls for async dbm
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

typo fixes
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

base db manager class
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

docstring for `BaseDBManager`
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

`NotImplementedError` in `BaseDBManager`
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

add missing `dispose` calls for async dbm
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

async db manager
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

synchronous db manager
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

tidy up docstrings
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

typo fixes
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

create `db_logging.py` file
  app/LinkLiteAgent/linkliteagent/db_logging.py
Labels: Area: Agent

log table definition
  app/LinkLiteAgent/linkliteagent/db_logging.py
Labels: Area: Agent

function to create log db table
  app/LinkLiteAgent/linkliteagent/db_logging.py
Labels: Area: Agent

poetry command to build log table; fix psql deps
  app/LinkLiteAgent/poetry.lock
  app/LinkLiteAgent/pyproject.toml
Labels: Area: Agent

Change column name `id` to `Id`
  app/LinkLiteAgent/linkliteagent/db_logging.py
Labels: Area: Agent

add cmd line args to `build-log-db`
  app/LinkLiteAgent/linkliteagent/db_logging.py
Labels: Area: Agent

update `README.md`
  app/LinkLiteAgent/README.md
Labels: Area: Agent

draft log handler
  app/LinkLiteAgent/linkliteagent/db_logging.py
Labels: Area: Agent

Use Npgsql to connect to DB
  app/LinkLiteManager/LinkLiteManager.csproj
  app/LinkLiteManager/Program.cs
  app/LinkLiteManager/appsettings.Development.json
Labels: Area: Manager Backend API

fix deps from running unit tests
  app/LinkLiteAgent/tox.ini
Labels: Area: Agent

create sync and async log handlers
  app/LinkLiteAgent/linkliteagent/db_logging.py
Labels: Area: Agent

revert tox.ini
  app/LinkLiteAgent/tox.ini
Labels: Area: Agent

sync db handler + code tidy up
  app/LinkLiteAgent/linkliteagent/db_logging.py
Labels: Area: Agent

Connect to docker db, Create new Entities
  app/LinkLiteManager/Data/Entities/ActivitySource.cs
  app/LinkLiteManager/Data/Entities/SourceType.cs
  app/LinkLiteManager/Program.cs
  app/LinkLiteManager/appsettings.Development.json
Labels: Area: Manager Backend API

Remove SqlServer package
  app/LinkLiteManager/LinkLiteManager.csproj
Labels: Area: Manager Backend API

deps and env vars for unit tests
  app/LinkLiteAgent/tox.ini
Labels: Area: Agent

backup logger just errors when can't write to database
  app/LinkLiteAgent/linkliteagent/db_logging.py
Labels: Area: Agent

fix hanging connections in manager
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

test synchronous db handler
  app/LinkLiteAgent/tests/test_db_logging.py
Labels: Area: Agent
