Repository HDRUK/hutch, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Manager Frontend, Area: Manager Backend API, Area: Agent, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Manager Frontend":
  - app/manager-frontend/**/*
"Area: Manager Backend API":
  - app/LinkLiteManager/**/*
"Area: Agent":
  - app/LinkLiteAgent/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

update `README.md`
  README.md
Labels: none

Apply suggestions from code review
  README.md
Labels: none

AB#58885: Query queueing (#13)
  README.md
  app/LinkLiteManager/Config/QueryQueueOptions.cs
  app/LinkLiteManager/LinkLiteManager.csproj
  app/LinkLiteManager/Program.cs
  app/LinkLiteManager/Services/QueryQueueService.cs
Labels: Area: Manager Backend API

AB#58906: Internal Query Agent - Query Results (#12)
  app/LinkLiteAgent/linkliteagent/config.py
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/poetry.lock
  app/LinkLiteAgent/pyproject.toml
Labels: Area: Agent

fix test env deps issue
  app/LinkLiteAgent/tox.ini
Labels: Area: Agent

change to equiv of `SELECT * FROM`
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/tests/test_query.py
Labels: Area: Agent

fix errors not being saved
  app/LinkLiteAgent/linkliteagent/db_logging.py
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

new query with joins
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

create person table representation
  app/LinkLiteAgent/linkliteagent/entities.py
Labels: Area: Agent

measurement table representation
  app/LinkLiteAgent/linkliteagent/entities.py
Labels: Area: Agent

condition occurrence representation
  app/LinkLiteAgent/linkliteagent/entities.py
Labels: Area: Agent

observation table representation
  app/LinkLiteAgent/linkliteagent/entities.py
Labels: Area: Agent

table joining
  app/LinkLiteAgent/linkliteagent/entities.py
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

select concept ids from other tables if id not in person lookup
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

fix unit tests
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/tests/test_query.py
Labels: Area: Agent

Change Logs entity so Serilog writes to the existing table
  app/LinkLiteManager/Data/Entities/Logs.cs
  app/LinkLiteManager/Data/Migrations/20220530100731_Logs.Designer.cs
  app/LinkLiteManager/Data/Migrations/20220530100731_Logs.cs
  app/LinkLiteManager/Data/Migrations/20220613111927_Initial.Designer.cs
  app/LinkLiteManager/Data/Migrations/20220613111927_Initial.cs
  app/LinkLiteManager/Data/Migrations/ApplicationDbContextModelSnapshot.cs
  app/LinkLiteManager/appsettings.Development.json
Labels: Area: Manager Backend API, Contains: Migrations

AB#62642: Internal Query Agent - joining to more OMOP tables (#14)
  app/LinkLiteAgent/linkliteagent/db_logging.py
  app/LinkLiteAgent/linkliteagent/entities.py
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/tests/test_query.py
  app/LinkLiteAgent/tox.ini
Labels: Area: Agent

AB#59378: Manager Database Logging (#11)
  app/LinkLiteManager/Data/ApplicationDbContext.cs
  app/LinkLiteManager/Data/Entities/Logs.cs
  app/LinkLiteManager/Data/Migrations/20220527091306_Initial.cs
  app/LinkLiteManager/Data/Migrations/20220613111927_Initial.Designer.cs
  app/LinkLiteManager/Data/Migrations/20220613111927_Initial.cs
  app/LinkLiteManager/Data/Migrations/ApplicationDbContextModelSnapshot.cs
  app/LinkLiteManager/LinkLiteManager.csproj
  app/LinkLiteManager/Program.cs
  app/LinkLiteManager/appsettings.Development.json
  app/LinkLiteManager/appsettings.json
Labels: Area: Manager Backend API, Contains: Migrations

renamed `Log` atrributes to match PR #11
  app/LinkLiteAgent/linkliteagent/config.py
  app/LinkLiteAgent/linkliteagent/db_logging.py
Labels: Area: Agent

Recreate migration files
  app/LinkLiteManager/Data/Migrations/20220615083645_Initial.Designer.cs
  app/LinkLiteManager/Data/Migrations/20220615083645_Initial.cs
Labels: Area: Manager Backend API, Contains: Migrations

AB#63271:Recreate migration files (#16)
  app/LinkLiteManager/Data/Migrations/20220615083645_Initial.Designer.cs
  app/LinkLiteManager/Data/Migrations/20220615083645_Initial.cs
Labels: Area: Manager Backend API, Contains: Migrations

delete RquestOmopQueryService, not needed
  app/LinkLiteManager/Services/QueryServices/RquestOmopQueryService.cs
Labels: Area: Manager Backend API

Remove old tables from db context
  app/LinkLiteManager/Data/ApplicationDbContext.cs
Labels: Area: Manager Backend API

added activity source list to home page ui
  app/manager-frontend/src/api/activitysource.js
  app/manager-frontend/src/components/ActivitySourceSummary.jsx
  app/manager-frontend/src/pages/UserHome.jsx
Labels: Area: Manager Frontend

init entities package
  app/LinkLiteAgent/linkliteagent/entities/__init__.py
  app/LinkLiteAgent/linkliteagent/entities/group.py
  app/LinkLiteAgent/linkliteagent/entities/operator.py
  app/LinkLiteAgent/linkliteagent/entities/query.py
  app/LinkLiteAgent/linkliteagent/entities/result.py
  app/LinkLiteAgent/linkliteagent/entities/rule.py
Labels: Area: Agent

`Thing` class for schema objects
  app/LinkLiteAgent/linkliteagent/entities/thing.py
Labels: Area: Agent

docstring in `Thing`
  app/LinkLiteAgent/linkliteagent/entities/thing.py
Labels: Area: Agent

`Operator` class
  app/LinkLiteAgent/linkliteagent/entities/operator.py
  app/LinkLiteAgent/linkliteagent/entities/thing.py
Labels: Area: Agent

factory method on `Thing`
  app/LinkLiteAgent/linkliteagent/entities/thing.py
Labels: Area: Agent

class method docstring
  app/LinkLiteAgent/linkliteagent/entities/thing.py
Labels: Area: Agent

`Operator.from_dict`
  app/LinkLiteAgent/linkliteagent/entities/operator.py
Labels: Area: Agent

rule object
  app/LinkLiteAgent/linkliteagent/entities/rule.py
Labels: Area: Agent

formatting
  app/LinkLiteAgent/linkliteagent/entities/rule.py
Labels: Area: Agent

replaced simple grid with VStack
  app/manager-frontend/src/pages/UserHome.jsx
Labels: Area: Manager Frontend

group object
  app/LinkLiteAgent/linkliteagent/entities/group.py
Labels: Area: Agent

query object
  app/LinkLiteAgent/linkliteagent/entities/query.py
Labels: Area: Agent

update objects to new spec
  app/LinkLiteAgent/linkliteagent/entities/group.py
  app/LinkLiteAgent/linkliteagent/entities/query.py
  app/LinkLiteAgent/linkliteagent/entities/rule.py
  app/LinkLiteAgent/linkliteagent/entities/thing.py
Labels: Area: Agent

added form to create activity source
  app/manager-frontend/src/api/activitysource.js
  app/manager-frontend/src/components/forms/FormikSelect.jsx
  app/manager-frontend/src/contexts/BackendApi.jsx
  app/manager-frontend/src/pages/ActivitySource/index.jsx
  app/manager-frontend/src/pages/ActivitySource/validation.js
  app/manager-frontend/src/pages/UserHome.jsx
  app/manager-frontend/src/routes/Root.jsx
Labels: Area: Manager Frontend

update `from_dict` methods in group and rule
  app/LinkLiteAgent/linkliteagent/entities/group.py
  app/LinkLiteAgent/linkliteagent/entities/rule.py
Labels: Area: Agent

init test_entities.py
  app/LinkLiteAgent/tests/test_entities.py
Labels: Area: Agent
