Repository HDRUK/hutch, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Manager Frontend, Area: Manager Backend API, Area: Agent, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Manager Frontend":
  - app/manager-frontend/**/*
"Area: Manager Backend API":
  - app/LinkLiteManager/**/*
"Area: Agent":
  - app/LinkLiteAgent/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

sql for rquest queries
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/tests/test_query.py
Labels: Area: Agent

Change CreateActivitySource
  app/LinkLiteManager/Controllers/ActivitySourceController.cs
  app/LinkLiteManager/Models/CreateActivitySource.cs
  app/LinkLiteManager/Services/ActivitySourceService.cs
Labels: Area: Manager Backend API

clean up tests
  app/LinkLiteAgent/tests/test_query.py
Labels: Area: Agent

finish testing for rquest query to sql
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/tests/test_query.py
Labels: Area: Agent

execute queries against db
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

remove query combinators tuple
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

update docstrings
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

operators not operands
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

AB#58894: Internal Query Agent - Fetching Jobs (#7)
  app/LinkLiteAgent/linkliteagent/main.py
  app/LinkLiteAgent/linkliteagent/message_queue.py
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/poetry.lock
  app/LinkLiteAgent/pyproject.toml
  docker-compose.yml
Labels: Area: Agent

Add SourceType entity back, Add CreateActivitySource and HttpPost method
  app/LinkLiteManager/Data/ApplicationDbContext.cs
  app/LinkLiteManager/Data/Entities/ActivitySource.cs
  app/LinkLiteManager/Data/Entities/SourceType.cs
  app/LinkLiteManager/Data/Migrations/20220524142106_Initial.cs
  app/LinkLiteManager/Data/Migrations/ApplicationDbContextModelSnapshot.cs
  app/LinkLiteManager/Migrations/20220527091306_Initial.Designer.cs
  app/LinkLiteManager/Migrations/20220527091306_Initial.cs
  app/LinkLiteManager/Models/ActivitySource.cs
  app/LinkLiteManager/Models/CreateActivitySource.cs
  app/LinkLiteManager/Services/ActivitySourceService.cs
Labels: Area: Manager Backend API, Contains: Migrations

Move Migrations under Data folder
  app/LinkLiteManager/Data/Migrations/20220527091306_Initial.Designer.cs
  app/LinkLiteManager/Data/Migrations/20220527091306_Initial.cs
Labels: Area: Manager Backend API, Contains: Migrations

change error messages to exception defaults
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

AB#58558:Configure ActivitySource backend (#8)
  .config/dotnet-tools.json
  app/LinkLiteManager/Auth/AuthPolicies.cs
  app/LinkLiteManager/Controllers/ActivitySourceController.cs
  app/LinkLiteManager/Data/ApplicationDbContext.cs
  app/LinkLiteManager/Data/Entities/ActivitySource.cs
  app/LinkLiteManager/Data/Migrations/20220527091306_Initial.Designer.cs
  app/LinkLiteManager/Data/Migrations/20220527091306_Initial.cs
  app/LinkLiteManager/Data/Migrations/ApplicationDbContextModelSnapshot.cs
  app/LinkLiteManager/LinkLiteManager.csproj
  app/LinkLiteManager/Models/ActivitySource.cs
  app/LinkLiteManager/Models/CreateActivitySource.cs
  app/LinkLiteManager/Program.cs
  app/LinkLiteManager/Services/ActivitySourceService.cs
  app/LinkLiteManager/appsettings.Development.json
Labels: Area: Manager Backend API, Contains: Migrations

`config.py`
  app/LinkLiteAgent/linkliteagent/config.py
Labels: Area: Agent

add config values to `main.py` and `query.py`
  app/LinkLiteAgent/linkliteagent/config.py
  app/LinkLiteAgent/linkliteagent/main.py
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

log table name in `config.py`
  app/LinkLiteAgent/linkliteagent/config.py
  app/LinkLiteAgent/linkliteagent/db_logging.py
Labels: Area: Agent

AB#60289: Add config module to LinkLiteAgent (#10)
  app/LinkLiteAgent/linkliteagent/config.py
  app/LinkLiteAgent/linkliteagent/db_logging.py
  app/LinkLiteAgent/linkliteagent/main.py
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

enable rules and cohorts to ignore unhandled json keys
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

handle numeric ranges
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

logic to parse concept IDs from rquest
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

Create new Logs entity, Configure Serilog in Program.cs to save logs to postgres db
  app/LinkLiteManager/Data/ApplicationDbContext.cs
  app/LinkLiteManager/Data/Entities/Logs.cs
  app/LinkLiteManager/Data/Migrations/20220527091306_Initial.cs
  app/LinkLiteManager/Data/Migrations/20220530100448_Initial.Designer.cs
  app/LinkLiteManager/Data/Migrations/20220530100448_Initial.cs
  app/LinkLiteManager/Data/Migrations/20220530100731_Logs.Designer.cs
  app/LinkLiteManager/Data/Migrations/20220530100731_Logs.cs
  app/LinkLiteManager/LinkLiteManager.csproj
  app/LinkLiteManager/Program.cs
  app/LinkLiteManager/appsettings.Development.json
  app/LinkLiteManager/appsettings.json
Labels: Area: Manager Backend API, Contains: Migrations

change logger configuration
  app/LinkLiteManager/Program.cs
Labels: Area: Manager Backend API

new logic for generating rule sql clauses for text vars
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/tests/test_query.py
Labels: Area: Agent

new group query logic
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/tests/test_query.py
Labels: Area: Agent

Add HostedServices/RquestPollingService and all the models it depends on
  app/LinkLiteManager/Data/ApplicationDbContext.cs
  app/LinkLiteManager/Data/Entities/ConditionOccurrence.cs
  app/LinkLiteManager/Data/Entities/IConcept.cs
  app/LinkLiteManager/Data/Entities/INumberValue.cs
  app/LinkLiteManager/Data/Entities/Measurement.cs
  app/LinkLiteManager/Data/Entities/Observation.cs
  app/LinkLiteManager/Data/Entities/Person.cs
  app/LinkLiteManager/Data/Migrations/20220527091306_Initial.cs
  app/LinkLiteManager/Data/Migrations/20220601141653_Initial.Designer.cs
  app/LinkLiteManager/Data/Migrations/20220601141653_Initial.cs
  app/LinkLiteManager/Data/Migrations/ApplicationDbContextModelSnapshot.cs
  app/LinkLiteManager/Dto/RquestQuery.cs
  app/LinkLiteManager/Dto/RquestQueryResult.cs
  app/LinkLiteManager/Dto/RquestQueryTask.cs
  app/LinkLiteManager/Dto/RquestResultResponse.cs
  app/LinkLiteManager/Helpers/TreeNode.cs
  app/LinkLiteManager/HostedServices/RquestPollingService.cs
  app/LinkLiteManager/LinkLiteManager.csproj
  app/LinkLiteManager/OptionsModels/RquestConnectorApiOptions.cs
  app/LinkLiteManager/OptionsModels/RquestPollingServiceOptions.cs
  app/LinkLiteManager/Services/QueryServices/Constants.cs
  app/LinkLiteManager/Services/QueryServices/Helpers.cs
  app/LinkLiteManager/Services/QueryServices/RquestOmopQueryService.cs
  app/LinkLiteManager/Services/RquestConnectorApiClient.cs
  app/LinkLiteManager/appsettings.Development.json
Labels: Area: Manager Backend API, Contains: Migrations

numeric rule handling
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/tests/test_query.py
Labels: Area: Agent

cohort sql clauses
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/tests/test_query.py
Labels: Area: Agent

query sql
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/tests/test_query.py
Labels: Area: Agent

fix some sorting
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/tests/test_query.py
Labels: Area: Agent

can query data based on time periods
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/tests/test_query.py
Labels: Area: Agent

code clean up
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

remove unused operator/rule dicts
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

AB#58899: Internal Query Agent - Running queries (#9)
  app/LinkLiteAgent/linkliteagent/config.py
  app/LinkLiteAgent/linkliteagent/db_logging.py
  app/LinkLiteAgent/linkliteagent/main.py
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/tests/test_query.py
  app/LinkLiteAgent/tox.ini
Labels: Area: Agent

add `requests` to deps
  app/LinkLiteAgent/poetry.lock
  app/LinkLiteAgent/pyproject.toml
Labels: Area: Agent

set up posting to manager
  app/LinkLiteAgent/linkliteagent/config.py
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

add logging messages
  app/LinkLiteAgent/linkliteagent/query.py
Labels: Area: Agent

installed `RabbitMQ.Client`
  app/LinkLiteManager/LinkLiteManager.csproj
Labels: Area: Manager Backend API

`QueryQueueOptions.cs`
  app/LinkLiteManager/Config/QueryQueueOptions.cs
Labels: Area: Manager Backend API

`QueryQueueService.cs`
  app/LinkLiteManager/Services/QueryQueueService.cs
Labels: Area: Manager Backend API

Add `QueryQueueService` and `QueryQueueOptions` to `Program.cs`
  app/LinkLiteManager/Program.cs
Labels: Area: Manager Backend API
