Repository HDRUK/hutch, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Agent, Area: Docs, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Agent":
  - app/HutchAgent/**/*
"Area: Docs":
  - website/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

AB#126516: Publish workflow (#245)
  .github/workflows/publish.HutchAgent.yml
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Program.cs
Labels: Area: CI, Area: Agent

GitHub Release workflow
  .github/workflows/release.HutchAgent.yml
Labels: Area: CI

added publish workflow id
  .github/workflows/release.HutchAgent.yml
Labels: Area: CI

added pr trigger / fixed run id for testing
  .github/workflows/release.HutchAgent.yml
Labels: Area: CI

removing test bits
  .github/workflows/release.HutchAgent.yml
Labels: Area: CI

Change Outputs type to object & write outputs to stage file
  app/HutchAgent/Models/WorkflowStageFile.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

AB#126516: Release workflow (#246)
  .github/workflows/release.HutchAgent.yml
Labels: Area: CI

Comment out WorkflowStageFile.cs config parameters temporarily
  app/HutchAgent/Models/WorkflowStageFile.cs
Labels: Area: Agent

Add inputs & outputs to stage file. Pass filepath to TriggerWfexs method
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

Change Queue message action type
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
Labels: Area: Agent

add logger for testing
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

return absolute path to stage file
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

enabling InitiateEgress action
  app/HutchAgent/Services/Hosted/JobActionQueuePoller.cs
  app/HutchAgent/Services/MinioStoreWriter.cs
Labels: Area: Agent

renamed initiateegress actionhandler file
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
Labels: Area: Agent

fixing jobscontroller due to some renaming
  app/HutchAgent/Controllers/JobsController.cs
Labels: Area: Agent

Initial "InitiateEgress" ActionHandler structure + job "ready check" implementation
  app/HutchAgent/Models/Wfexs/WfexsExecutionState.cs
  app/HutchAgent/Models/Wfexs/WfexsLocalConfig.cs
  app/HutchAgent/Results/BasicResult.cs
  app/HutchAgent/Results/WorkflowCompletionResult.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgress.cs
  app/HutchAgent/Services/FinaliseActionHandler.cs
  app/HutchAgent/Services/JobLifecycleService.cs
  app/HutchAgent/Services/RequestCrateService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

Added initial ControllerApiService, with egress bucket request
  app/HutchAgent/Config/ControllerApiOptions.cs
  app/HutchAgent/Constants/FeatureFlags.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent

initiate egress unpacks executor outputs ready for egress
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/CrateService.cs
  app/HutchAgent/Services/FinaliseActionHandler.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

InitiateEgress skeleton appears to do everything it should
  app/HutchAgent/Constants/FeatureFlags.cs
  app/HutchAgent/Extensions/ServiceCollectionExtensions.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/Services/FileSystemResultsStoreService.cs
  app/HutchAgent/Services/FinaliseActionHandler.cs
  app/HutchAgent/Services/Hosted/JobPollingHostedService.cs
  app/HutchAgent/Services/IResultsStoreWriter.cs
  app/HutchAgent/Services/MinioStoreWriter.cs
  app/HutchAgent/appsettings.Development.json
Labels: Area: Agent

error handling / clarity when Rabbit is unavailable
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/Hosted/JobActionQueuePoller.cs
Labels: Area: Agent

AB#127689: InitiateEgress skeleton complete (#247)
  app/HutchAgent/Config/ControllerApiOptions.cs
  app/HutchAgent/Constants/FeatureFlags.cs
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Extensions/ServiceCollectionExtensions.cs
  app/HutchAgent/Models/Wfexs/WfexsExecutionState.cs
  app/HutchAgent/Models/Wfexs/WfexsLocalConfig.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Results/BasicResult.cs
  app/HutchAgent/Results/WorkflowCompletionResult.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/Services/CrateService.cs
  app/HutchAgent/Services/FileSystemResultsStoreService.cs
  app/HutchAgent/Services/FinaliseActionHandler.cs
  app/HutchAgent/Services/Hosted/JobActionQueuePoller.cs
  app/HutchAgent/Services/Hosted/JobPollingHostedService.cs
  app/HutchAgent/Services/IResultsStoreWriter.cs
  app/HutchAgent/Services/JobLifecycleService.cs
  app/HutchAgent/Services/MinioService.cs
  app/HutchAgent/Services/MinioStoreWriter.cs
  app/HutchAgent/Services/RequestCrateService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
  app/HutchAgent/appsettings.Development.json
Labels: Area: Agent

pin wfexs commit
  ansible/playbooks/wfexs.yml
Labels: none

Update ansible/playbooks/wfexs.yml
  ansible/playbooks/wfexs.yml
Labels: none

AB#129941: Pin Wfexs to known working commit (#248)
  ansible/playbooks/wfexs.yml
Labels: none

FetchAndExecute should support fetching crates from Minio
  app/HutchAgent/Extensions/ServiceCollectionExtensions.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/FinaliseActionHandler.cs
  app/HutchAgent/Services/Hosted/JobPollingHostedService.cs
  app/HutchAgent/Services/MinioStoreService.cs
Labels: Area: Agent

reworked minio usage to be factory driven, allowing per-settings instances at different times,
  app/HutchAgent/Config/MinioOptions.cs
  app/HutchAgent/Extensions/ServiceCollectionExtensions.cs
  app/HutchAgent/Models/FileStorageDetails.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/appsettings.Development.json
Labels: Area: Agent

fixes
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Models/FileStorageDetails.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/FinaliseActionHandler.cs
  app/HutchAgent/Services/MinioStoreService.cs
Labels: Area: Agent

updating config sections
  app/HutchAgent/Program.cs
Labels: Area: Agent

updated Jobs controller to match agreed endpoint contracts
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Models/DatabaseConnectionDetails.cs
  app/HutchAgent/Models/FileStorageDetails.cs
  app/HutchAgent/Models/SubmitJobModel.cs
  app/HutchAgent/Services/JobLifecycleService.cs
Labels: Area: Agent

updated configuration docs
  website/docs/getting-started/configuration/agent.md
Labels: Area: Docs

tidy up
  app/HutchAgent/Services/JobLifecycleService.cs
Labels: Area: Agent

AB#129865: Job submission api changes (#249)
  app/HutchAgent/Config/MinioOptions.cs
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Extensions/ServiceCollectionExtensions.cs
  app/HutchAgent/Models/DatabaseConnectionDetails.cs
  app/HutchAgent/Models/FileStorageDetails.cs
  app/HutchAgent/Models/SubmitJobModel.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/FinaliseActionHandler.cs
  app/HutchAgent/Services/Hosted/JobPollingHostedService.cs
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/appsettings.Development.json
  website/docs/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs

Starting new FinalizeActionHandler structure; copying outputs over
  app/HutchAgent/Services/ActionHandlers/FinaliseActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/CrateService.cs
  app/HutchAgent/Services/ResultCrateService.cs
  app/HutchAgent/Utilities/FilesystemUtility.cs
Labels: Area: Agent

retired the old job completion hosted service
  app/HutchAgent/Services/Hosted/JobPollingHostedService.cs
Labels: Area: Agent

add controller api service to StatusReportingService
  app/HutchAgent/Services/StatusReportingService.cs
Labels: Area: Agent

FinalizeMetadata
  app/HutchAgent.Tests/HutchAgent.Tests.csproj
  app/HutchAgent.Tests/TestFiveSafesCrateService.cs
  app/HutchAgent/Config/CratePublishingOptions.cs
  app/HutchAgent/Config/LicenseOptions.cs
  app/HutchAgent/Config/PublisherOptions.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FinaliseActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
  app/HutchAgent/Services/JobLifecycleService.cs
  app/HutchAgent/Services/RequestCrateService.cs
  app/HutchAgent/Services/ResultCrateService.cs
  app/HutchAgent/Services/WorkflowFetchService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
  website/docs/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs

add logger to ControllerApiService.cs
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent

get egress bucket information
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent

rename fields in MinioOptions to match FileStorageDetails
  app/HutchAgent/Config/MinioOptions.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/MinioStoreService.cs
Labels: Area: Agent

update docs
  website/docs/getting-started/configuration/agent.md
Labels: Area: Docs
