Repository HDRUK/hutch, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Agent, Area: Docs, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Agent":
  - app/HutchAgent/**/*
"Area: Docs":
  - website/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

add caution about service accounts
  website/docs/external-systems/keycloak/index.md
Labels: Area: Docs

update user set up
  website/docs/external-systems/keycloak/index.md
Labels: Area: Docs

client scope advice
  website/docs/external-systems/keycloak/index.md
Labels: Area: Docs

swap sections
  website/docs/external-systems/keycloak/index.md
Labels: Area: Docs

add missing section to configuration
  website/docs/getting-started/configuration/agent.md
Labels: Area: Docs

remove asUser from docstring
  app/HutchAgent/Services/MinioStoreService.cs
Labels: Area: Agent

fix docstring
  app/HutchAgent/Services/MinioStoreService.cs
Labels: Area: Agent

missing comma
  website/docs/getting-started/configuration/agent.md
Labels: Area: Docs

AB#131632:Auth token refresh (#280)
  ansible/playbooks/files/docker-compose.yml
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/Services/OpenIdIdentityService.cs
Labels: Area: Agent

AB#134752: Keycloak setup (#279)
  ansible/playbooks/files/docker-compose.yml
  website/docs/external-systems/keycloak/index.md
  website/docs/getting-started/configuration/agent.md
Labels: Area: Docs

Add client secret to refresh token requests
  app/HutchAgent/Services/OpenIdIdentityService.cs
Labels: Area: Agent

fix compiler warning
  test/HutchAgent.Tests/FileSystemUtilityTests/TestSelectivelyDelete.cs
Labels: none

remove inaccurate comment
  app/HutchAgent/Services/OpenIdIdentityService.cs
Labels: Area: Agent

Add note about node:slim for wfexs
  website/docs/external-systems/wfexs/wfexs-dev-env.md
Labels: Area: Docs

update info title
  website/docs/external-systems/wfexs/wfexs-dev-env.md
Labels: Area: Docs

conditionally add client secret to refresh token
  app/HutchAgent/Services/OpenIdIdentityService.cs
Labels: Area: Agent

client access token request also conditionally adds secret
  app/HutchAgent/Services/OpenIdIdentityService.cs
Labels: Area: Agent

AB#135004: Missing client secret in token refresh (#281)
  app/HutchAgent/Services/OpenIdIdentityService.cs
  test/HutchAgent.Tests/FileSystemUtilityTests/TestSelectivelyDelete.cs
Labels: Area: Agent

AB#130558: Document node:slim download (#282)
  website/docs/external-systems/wfexs/wfexs-dev-env.md
Labels: Area: Docs

webhook options class
  app/DummyControllerApi/Config/WebhookOptions.cs
  app/DummyControllerApi/Program.cs
Labels: none

rename options
  app/DummyControllerApi/Config/WebHookOptions.cs
  app/DummyControllerApi/Program.cs
Labels: none

init web hook service
  app/DummyControllerApi/Services/WebHookService.cs
Labels: none

minio opitons for payload
  app/DummyControllerApi/Config/MinioOptions.cs
  app/DummyControllerApi/Models/FinalOutcomeRequestModel.cs
  app/DummyControllerApi/Program.cs
Labels: none

remove minio options class
  app/DummyControllerApi/Config/MinioOptions.cs
  app/DummyControllerApi/Models/EgressBucketResponseModel.cs
  app/DummyControllerApi/Models/FinalOutcomeRequestModel.cs
  app/DummyControllerApi/Program.cs
  app/DummyControllerApi/Services/WebHookService.cs
Labels: none

webhook service finished
  app/DummyControllerApi/Program.cs
  app/DummyControllerApi/Services/WebHookService.cs
Labels: none

check ssl stuff
  app/DummyControllerApi/Program.cs
  app/DummyControllerApi/Utilities/UntrustedCertClientFactory.cs
Labels: none

web hook service in controller
  app/DummyControllerApi/Controllers/SubmissionController.cs
Labels: none

models for webhook service
  app/DummyControllerApi/Config/EgressBucketDetailsOptions.cs
  app/DummyControllerApi/Constants/WebHookEventTypes.cs
  app/DummyControllerApi/Models/WebHooks/FinalOutcomeWebHookModel.cs
Labels: none

AB#138096: Set up WebHook in DummyController (#283)
  app/DummyControllerApi/Config/EgressBucketDetailsOptions.cs
  app/DummyControllerApi/Config/WebHookOptions.cs
  app/DummyControllerApi/Constants/WebHookEventTypes.cs
  app/DummyControllerApi/Controllers/SubmissionController.cs
  app/DummyControllerApi/Models/FinalOutcomeRequestModel.cs
  app/DummyControllerApi/Models/WebHooks/FinalOutcomeWebHookModel.cs
  app/DummyControllerApi/Program.cs
  app/DummyControllerApi/Services/WebHookService.cs
  app/DummyControllerApi/Utilities/UntrustedCertClientFactory.cs
Labels: none

README
  README.md
Labels: none
