Repository HDRUK/hutch, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Agent, Area: Docs, Contains: Migrations

implemented clientcredentials token acquisition
  app/HutchAgent/Services/OpenIdIdentityService.cs
Labels: Area: Agent

wip support for minio AssumeRoleWithClientGrants
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/Services/OpenIdIdentityService.cs
Labels: Area: Agent

minio auth works
  app/HutchAgent/Services/MinioStoreService.cs
Labels: Area: Agent

minio config and docs tweaks
  app/HutchAgent/Config/OpenIdOptions.cs
  app/HutchAgent/Services/MinioStoreService.cs
  docker-compose.yml
  website/docs/external-systems/keycloak/index.md
  website/docs/external-systems/minio/minio-keycloak.md
Labels: Area: Agent, Area: Docs

pr updates
  app/HutchAgent/Config/OpenIdOptions.cs
  app/HutchAgent/Services/MinioStoreService.cs
  website/docs/external-systems/keycloak/index.md
Labels: Area: Agent, Area: Docs

inverted `--full` option; documented lots of new config
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
  app/HutchAgent/Constants/FeatureFlags.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
  website/docs/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs

AB#129881: Keycloak auth (#263)
  app/HutchAgent/Config/OpenIdOptions.cs
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
  app/HutchAgent/Constants/FeatureFlags.cs
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/Services/OpenIdIdentityService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
  docker-compose.yml
  website/docs/external-systems/keycloak/index.md
  website/docs/external-systems/minio/minio-keycloak.md
  website/docs/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs

added new project for dummy controller api
  DummyControllerApi/Controllers/SubmissionController.cs
  DummyControllerApi/DummyControllerApi.csproj
  DummyControllerApi/Program.cs
  DummyControllerApi/Properties/launchSettings.json
  DummyControllerApi/appsettings.Development.json
  DummyControllerApi/appsettings.json
  Hutch.sln
Labels: none

added egressbucket and statusupdate endpoints with models
  DummyControllerApi/Config/EgressBucketDetailsOptions.cs
  DummyControllerApi/Controllers/SubmissionController.cs
  DummyControllerApi/Models/EgressBucketResponseModel.cs
  DummyControllerApi/Models/UpdateStatusResponseModel.cs
  DummyControllerApi/Program.cs
Labels: none

outlined endpoints
  DummyControllerApi/Controllers/SubmissionController.cs
Labels: none

added default dev controller api in hutch as the dummy
  app/HutchAgent/appsettings.Development.json
Labels: Area: Agent

added a bunch of logging
  DummyControllerApi/Controllers/SubmissionController.cs
  DummyControllerApi/Services/EgressApprovalHostedService.cs
Labels: none

completed endpoints; added inmemory approval queue
  DummyControllerApi/Controllers/SubmissionController.cs
  DummyControllerApi/Program.cs
  DummyControllerApi/Services/EgressApprovalHostedService.cs
  DummyControllerApi/Services/InMemoryApprovalQueue.cs
Labels: none

added jwt bearer auth to controller api
  DummyControllerApi/DummyControllerApi.csproj
  DummyControllerApi/Program.cs
Labels: none

EgressApprovalHostedService implementation
  DummyControllerApi/Controllers/SubmissionController.cs
  DummyControllerApi/DummyControllerApi.csproj
  DummyControllerApi/Models/FilesReadyRequestModel.cs
  DummyControllerApi/Models/HutchApprovalRequestModel.cs
  DummyControllerApi/Program.cs
  DummyControllerApi/Services/EgressApprovalHostedService.cs
  DummyControllerApi/Services/InMemoryApprovalQueue.cs
  DummyControllerApi/appsettings.Development.json
Labels: none

actually added tokens to controllerapi calls in hutch!
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent

turning off token validation in dummy controller api
  DummyControllerApi/Controllers/SubmissionController.cs
  DummyControllerApi/Program.cs
  app/HutchAgent/appsettings.Development.json
Labels: Area: Agent

fixing FilesReadyForReview signature in HutchAgent
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent

comments / tidy up for PR
  DummyControllerApi/Controllers/SubmissionController.cs
  DummyControllerApi/Program.cs
  DummyControllerApi/Services/EgressApprovalHostedService.cs
  app/HutchAgent/Models/ControllerApi/FilesReadyForReviewRequest.cs
Labels: Area: Agent

AB#131635: Dummy controller api (#264)
  DummyControllerApi/Config/EgressBucketDetailsOptions.cs
  DummyControllerApi/Controllers/SubmissionController.cs
  DummyControllerApi/DummyControllerApi.csproj
  DummyControllerApi/Models/EgressBucketResponseModel.cs
  DummyControllerApi/Models/FilesReadyRequestModel.cs
  DummyControllerApi/Models/HutchApprovalRequestModel.cs
  DummyControllerApi/Models/UpdateStatusResponseModel.cs
  DummyControllerApi/Program.cs
  DummyControllerApi/Properties/launchSettings.json
  DummyControllerApi/Services/EgressApprovalHostedService.cs
  DummyControllerApi/Services/InMemoryApprovalQueue.cs
  DummyControllerApi/appsettings.Development.json
  DummyControllerApi/appsettings.json
  Hutch.sln
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/appsettings.Development.json
Labels: Area: Agent

Added option to provide an exeuction output path for testing, to skip wfexs execution
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
Labels: Area: Agent

non-empty value in SkipExecutionUsingOutputFile causes execution to be skipped
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
Labels: Area: Agent

added notes on "skipping" external interactions
  website/docs/development/partial-running.md
Labels: Area: Docs

updated configuration docs with SkipExecutionUsingOutputFile
  website/docs/development/partial-running.md
  website/docs/getting-started/configuration/agent.md
Labels: Area: Docs

ExecuteActionHandler queues OutputFile for skipping in InititateEgress
  app/HutchAgent/Models/JobQueue/InitiateEgressPayloadModel.cs
  app/HutchAgent/Models/JobQueue/JobQueueMessage.cs
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
Labels: Area: Agent

JobQueueMessage supports optional typed payloads serialised to json
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/Contracts/IActionHandler.cs
  app/HutchAgent/Services/Hosted/JobActionQueuePoller.cs
Labels: Area: Agent

InitiateEgress unpacks outputs from correct source; fixed container deletion
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

logging and fixes to make wfexs skipping work through
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Models/JobQueue/JobQueueMessage.cs
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

AB#131740: Workflow Execution skipping (#265)
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Models/JobQueue/InitiateEgressPayloadModel.cs
  app/HutchAgent/Models/JobQueue/JobQueueMessage.cs
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/Contracts/IActionHandler.cs
  app/HutchAgent/Services/Hosted/JobActionQueuePoller.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
  website/docs/development/partial-running.md
  website/docs/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs

some docs fixes
  website/docs/development/index.md
  website/docs/development/partial-running.md
  website/docs/external-systems/minio/minio-keycloak.md
  website/docs/getting-started/installation/agent.md
Labels: Area: Docs

updating jobId to subId for the Submit endpoint
  app/HutchAgent/Models/SubmitJobModel.cs
Labels: Area: Agent

tre-fx stack terminology updates
  website/docs/getting-started/index.md
Labels: Area: Docs

more jobId -> subId
  app/HutchAgent/Controllers/JobsController.cs
Labels: Area: Agent

AB#131017: Terminology updates (#266)
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Models/SubmitJobModel.cs
  website/docs/development/index.md
  website/docs/development/partial-running.md
  website/docs/external-systems/minio/minio-keycloak.md
  website/docs/getting-started/index.md
  website/docs/getting-started/installation/agent.md
Labels: Area: Agent, Area: Docs

FinalizeActionHandler now calls the Controller API with FinalOutcome details
  app/HutchAgent/Models/ControllerApi/FinalOutcomeRequest.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent

UploadFinalCrate feeds back the object id it uploaded to
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
Labels: Area: Agent

Dummy Controller API has FinalOutcome endpoint
  DummyControllerApi/Controllers/SubmissionController.cs
  DummyControllerApi/Models/FinalOutcomeRequestModel.cs
Labels: none

improving DummyControllerApi swagger for clarity
  DummyControllerApi/Controllers/SubmissionController.cs
  DummyControllerApi/DummyControllerApi.csproj
Labels: none

AB#131714: Controller api final outcome (#267)
  DummyControllerApi/Controllers/SubmissionController.cs
  DummyControllerApi/DummyControllerApi.csproj
  DummyControllerApi/Models/FinalOutcomeRequestModel.cs
  app/HutchAgent/Models/ControllerApi/FinalOutcomeRequest.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent

fix dotnet install
  ansible/playbooks/set-up-vm.yml
Labels: none

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Agent":
  - app/HutchAgent/**/*
"Area: Docs":
  - website/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
