Repository HDRUK/hutch, pull requests merged in 2022-10, with the labels that each got.

#89 AB#67773: Update Activity Source forms
  app/manager-frontend/src/components/DeleteModal.jsx
  app/manager-frontend/src/components/NavBar.jsx
  app/manager-frontend/src/components/resultsmodifiers/ResultsModifiers.jsx
  app/manager-frontend/src/pages/ActivitySource/index.jsx
  app/manager-frontend/src/pages/UserHome.jsx
  app/manager-frontend/src/themes/theme.js
Labels: Area: Manager Frontend

#87 AB#76011: Use in-memory merging of simpler query results
  app/HutchAgent/hutchagent/message_queue.py
  app/HutchAgent/hutchagent/query.py
  app/HutchAgent/poetry.lock
  app/HutchAgent/pyproject.toml
  app/HutchManager/appsettings.Development.json
  app/HutchManager/appsettings.Production.json
  scripts/load_tables.sql
Labels: Area: Manager Backend API, Area: Agent

#88 AB#75563: CD to distribute artifacts (Manager) "Stable"
  .github/workflows/release.hutch-manager.yml
Labels: Area: CI

#92 AB#78948: docs workflows
  .github/labeler.yml
  .github/workflows/build.docs-website.yml
  .github/workflows/deploy.docs-website.yml
  assets/hutch logo.afdesign
  website/docs/users/detailed-overview/data-sources.md
  website/docs/users/getting-started/installation/manager.mdx
  website/docusaurus.config.js
Labels: Area: CI, Area: Docs

#90 AB#78938: CD to distribute artifacts (Agent) "Stable"
  .github/workflows/release.hutch-agent.yml
Labels: Area: CI

#93 AB#78659: local OMOP data loading
  website/docs/users/sample-data/omop-53.md
  website/docs/users/sample-data/sample-postgres-setup.md
Labels: Area: Docs

#97 AB#79510: Remove RQuest
  app/HutchAgent/hutchagent/message_queue.py
  app/HutchAgent/hutchagent/query.py
  app/HutchManager/Constants/FeatureFlags.cs
  app/HutchManager/Controllers/ResultsController.cs
  app/HutchManager/Services/RquestPollingService.cs
  app/HutchManager/appsettings.Development.json
  app/HutchManager/appsettings.Production.json
  website/docs/users/getting-started/configuration/agent.md
  website/docs/users/getting-started/configuration/manager.md
Labels: Area: Manager Backend API, Area: Agent, Area: Docs

#95 AB#65595: Rounding Configuration - Manager Frontend
  app/manager-frontend/src/components/forms/FormikInput.jsx
  app/manager-frontend/src/components/resultsmodifiers/ConfigureResultsModifierModal.jsx
  app/manager-frontend/src/components/resultsmodifiers/ResultsModifiers.jsx
  app/manager-frontend/src/components/resultsmodifiers/RoundingParameters.jsx
  app/manager-frontend/src/pages/ResultsModifier/validation.js
Labels: Area: Manager Frontend

#94 AB#79281: Add version bump workflow for agent
  .github/workflows/release.hutch-agent.yml
  .github/workflows/version.hutch-agent.yml
Labels: Area: CI

#98 AB#78949: Agent refactoring / tidy up
  app/HutchAgent/hutchagent/__init__.py
  app/HutchAgent/hutchagent/config.py
  app/HutchAgent/hutchagent/db_manager.py
  app/HutchAgent/hutchagent/main.py
  app/HutchAgent/hutchagent/message_queue.py
  app/HutchAgent/hutchagent/obfuscation.py
  app/HutchAgent/hutchagent/query_builders.py
  app/HutchAgent/hutchagent/ro_crates/group.py
  app/HutchAgent/hutchagent/ro_crates/rule.py
  app/HutchAgent/poetry.lock
  app/HutchAgent/pyproject.toml
  app/HutchAgent/tests/test_db_logging.py
  app/HutchAgent/tests/test_hutchagent.py
  app/HutchAgent/tests/test_query.py
  app/HutchAgent/tests/test_ro_crates.py
  app/HutchAgent/tox.ini
Labels: Area: Agent

#99 AB#67787: Update Data Source status Select box
  app/HutchManager/Services/ActivitySourceService.cs
  app/manager-frontend/package.json
  app/manager-frontend/src/components/DataSourceDropDownList.jsx
  app/manager-frontend/src/helpers/dates.js
  app/manager-frontend/src/pages/ActivitySource/index.jsx
  pnpm-lock.yaml
Labels: Area: Manager Frontend, Area: Manager Backend API

#100 AB#79214: Refactor agent to support alternate entrypoints
  app/HutchAgent/hutchagent/message_queues/__init__.py
  app/HutchAgent/hutchagent/message_queues/az_queue.py
  app/HutchAgent/hutchagent/message_queues/rmq_queue.py
  app/HutchAgent/poetry.lock
  app/HutchAgent/pyproject.toml
  app/HutchAgent/scripts/main.py
  website/docs/devs/getting-started/agent.md
  website/docs/users/getting-started/installation/agent.mdx
  website/docs/users/getting-started/installation/manager.mdx
Labels: Area: Agent, Area: Docs

#101 AB#78950: Concept lookups
  app/HutchAgent/hutchagent/query_builders.py
  app/HutchManager/Config/RquestTaskApiOptions.cs
Labels: Area: Manager Backend API, Area: Agent
