Repository HDRUK/hutch, pull requests merged in 2022-07, with the labels that each got.

#40 AB#64586: Datasources page
  app/manager-frontend/src/api/datasource.js
  app/manager-frontend/src/components/DataSourceSummary.jsx
  app/manager-frontend/src/components/DeleteModal.jsx
  app/manager-frontend/src/contexts/BackendApi.jsx
  app/manager-frontend/src/pages/ActivitySource/index.jsx
  app/manager-frontend/src/pages/DataSource/list.jsx
  app/manager-frontend/src/pages/UserHome.jsx
  app/manager-frontend/src/routes/Root.jsx
Labels: Area: Manager Frontend

#41 AB#64571: Added agents controller
  app/HutchManager/Controllers/AgentsController.cs
Labels: Area: Manager Backend API

#43 AB#64562: Agent job queue name (data source name) is configurable
  app/HutchAgent/hutchagent/checkin.py
  app/HutchAgent/hutchagent/config.py
  app/HutchAgent/hutchagent/db_logging.py
  app/HutchAgent/hutchagent/main.py
  app/HutchAgent/hutchagent/query.py
  app/HutchAgent/poetry.lock
  app/HutchAgent/pyproject.toml
Labels: Area: Agent

#47 AB#64594: Endpoint Payload
  app/HutchManager/Controllers/AgentsController.cs
  app/HutchManager/Models/AgentCheckinModel.cs
  app/HutchManager/Models/DataSource.cs
  app/HutchManager/Services/DataSourceService.cs
Labels: Area: Manager Backend API

#49 AB#64561: Agent notifies Manager of target Data Source(s)
  app/HutchAgent/hutchagent/checkin.py
  app/HutchAgent/hutchagent/main.py
  app/HutchManager/Controllers/AgentsController.cs
  app/HutchManager/Services/RquestPollingService.cs
Labels: Area: Manager Backend API, Area: Agent

#50 AB#65576: Results Modifier
  app/HutchManager/Controllers/ActivitySourceController.cs
  app/HutchManager/Controllers/ResultsModifierController.cs
  app/HutchManager/Data/ApplicationDbContext.cs
  app/HutchManager/Data/Entities/ResultsModifier.cs
  app/HutchManager/Models/ActivitySourceModel.cs
  app/HutchManager/Models/CreateResultsModifier.cs
  app/HutchManager/Models/LowNumberSuppressionParameters.cs
  app/HutchManager/Models/ModifierTypeModel.cs
  app/HutchManager/Models/ResultsModifierModel.cs
  app/HutchManager/Program.cs
  app/HutchManager/Services/ActivitySourceService.cs
  app/HutchManager/Services/ResultsModifierService.cs
Labels: Area: Manager Backend API

#51 AB#62691: Turn RO-Crates queries into SQL
  app/HutchAgent/hutchagent/checkin.py
  app/HutchAgent/hutchagent/main.py
  app/HutchAgent/hutchagent/message_queue.py
  app/HutchAgent/hutchagent/query.py
  app/HutchAgent/hutchagent/ro_crates/group.py
  app/HutchAgent/hutchagent/ro_crates/query.py
  app/HutchAgent/hutchagent/ro_crates/rule.py
  app/HutchAgent/tests/test_ro_crates.py
Labels: Area: Agent

#54 AB#65581: Results modifier frontend
  app/manager-frontend/src/api/resultsmodifier.js
  app/manager-frontend/src/components/ConfigureResultsModifierModal.jsx
  app/manager-frontend/src/components/LowNumberSuppressionParameters.jsx
  app/manager-frontend/src/components/ResultsModifier.jsx
  app/manager-frontend/src/components/forms/FormikSelect.jsx
  app/manager-frontend/src/contexts/BackendApi.jsx
  app/manager-frontend/src/helpers/data-structures.js
  app/manager-frontend/src/pages/ResultsModifier/list.jsx
  app/manager-frontend/src/pages/ResultsModifier/validation.js
  app/manager-frontend/src/routes/Root.jsx
Labels: Area: Manager Frontend

#53 AB#65944: Build and submit RO-Crates Results payloads
  app/HutchAgent/hutchagent/main.py
  app/HutchAgent/hutchagent/message_queue.py
Labels: Area: Agent

#55 AB#62681:Manager Results Endpoint
  app/HutchManager/Controllers/ResultsController.cs
  app/HutchManager/Dto/QueryResult.cs
  app/HutchManager/Dto/ROCratesQuery.cs
  app/HutchManager/Dto/RquestQuery.cs
  app/HutchManager/Dto/RquestQueryResult.cs
  app/HutchManager/Dto/RquestQueryTask.cs
  app/HutchManager/Services/RquestTaskApiClient.cs
Labels: Area: Manager Backend API

#58 AB#67666: Revert AB#62680
  app/HutchAgent/hutchagent/message_queue.py
  app/HutchAgent/hutchagent/query.py
  app/HutchAgent/tests/test_query.py
Labels: Area: Agent

#59 AB#65580: Results modifier activity source
  app/HutchManager/Models/CreateActivitySource.cs
  app/HutchManager/Models/CreateResultsModifier.cs
  app/HutchManager/Services/ResultsModifierService.cs
  app/manager-frontend/src/components/ConfigureResultsModifierModal.jsx
  app/manager-frontend/src/components/LowNumberSuppressionParameters.jsx
  app/manager-frontend/src/components/ResultsModifier.jsx
  app/manager-frontend/src/components/forms/FormikSelect.jsx
  app/manager-frontend/src/pages/DataSource/list.jsx
  app/manager-frontend/src/pages/ResultsModifier/list.jsx
Labels: Area: Manager Frontend, Area: Manager Backend API

#64 AB#6778: Datasource input
  app/manager-frontend/src/components/forms/FormikSelect.jsx
  app/manager-frontend/src/helpers/dates.js
  app/manager-frontend/src/pages/ActivitySource/index.jsx
Labels: Area: Manager Frontend

#66 AB#67952: ResultsModifier Bugfix
  app/HutchManager/Services/ResultsModifierService.cs
  app/manager-frontend/src/components/ConfigureResultsModifierModal.jsx
Labels: Area: Manager Frontend, Area: Manager Backend API

#68 AB#65594:Add RoundingConfiguration model
  app/HutchManager/Models/RoundingConfiguration.cs
Labels: Area: Manager Backend API
