Repository HDRUK/hutch, pull requests merged in 2022-09, with the labels that each got.

#76 AB#69924: Sample Production Compose Stack
  app/HutchManager/Dockerfile
  app/HutchManager/appsettings.Production.json
  docker-compose.prod.yml
Labels: Area: Manager Backend API

#72 AB#69285: Test RoCrates end to end
  app/HutchAgent/hutchagent/main.py
  app/HutchAgent/hutchagent/message_queue.py
  app/HutchAgent/hutchagent/query.py
  app/HutchAgent/hutchagent/ro_crates/result.py
  app/HutchAgent/hutchagent/ro_crates/rule.py
  app/HutchManager/Dto/ROCratesQuery.cs
  app/HutchManager/Services/QueryTranslator.cs
  app/HutchManager/Services/RquestPollingService.cs
Labels: Area: Manager Backend API, Area: Agent

#78 AB#75070: CI to build Agent docker image artefact
  .github/workflows/publish.agent-docker.yml
  app/HutchAgent/Dockerfile
Labels: Area: CI, Area: Agent

#80 AB#71857: Reconfigure ResultsModifiers UI
  app/HutchManager/Services/ResultsModifierService.cs
  app/manager-frontend/package.json
  app/manager-frontend/src/api/activitysources.js
  app/manager-frontend/src/api/resultsmodifiers.js
  app/manager-frontend/src/components/ConfigureResultsModifierModal.jsx
  app/manager-frontend/src/components/LowNumberSuppressionParameters.jsx
  app/manager-frontend/src/components/ResultsModifier.jsx
  app/manager-frontend/src/components/activitysources/ActivitySourceSummary.jsx
  app/manager-frontend/src/components/resultsmodifiers/ConfigureResultsModifierModal.jsx
  app/manager-frontend/src/components/resultsmodifiers/LowNumberSuppressionParameters.jsx
  app/manager-frontend/src/components/resultsmodifiers/ResultsModifiers.jsx
  app/manager-frontend/src/pages/ActivitySource/index.jsx
  app/manager-frontend/src/pages/ResultsModifier/list.jsx
  app/manager-frontend/src/pages/UserHome.jsx
  app/manager-frontend/src/routes/Root.jsx
  pnpm-lock.yaml
Labels: Area: Manager Frontend, Area: Manager Backend API

#79 AB#69930: CI to publish distributable artifacts (Manager)
  .github/workflows/publish.hutch.yml
  .github/workflows/publish.manager-docker.yml
  app/HutchManager/Dockerfile
Labels: Area: CI, Area: Manager Backend API, Area: Agent

#83 AB#67772: User Homepage ActivitySource list changes
  app/manager-frontend/src/components/activitysources/ActivitySourceSummary.jsx
  app/manager-frontend/src/pages/UserHome.jsx
Labels: Area: Manager Frontend

#84 AB#69285: Test RoCrates end to end fix
  app/manager-frontend/src/components/forms/FormikInput.jsx
  app/manager-frontend/src/components/resultsmodifiers/ConfigureResultsModifierModal.jsx
  app/manager-frontend/src/components/resultsmodifiers/LowNumberSuppressionParameters.jsx
Labels: Area: Manager Frontend

#86 AB#69301: Add check when no ResultModifiers
  app/manager-frontend/src/components/resultsmodifiers/ResultsModifiers.jsx
Labels: Area: Manager Frontend

#81 AB#69931: CD to distribute artifacts (Manager) "Nightly"
  .github/workflows/publish.hutch.yml
  .github/workflows/publish.manager-docker.yml
Labels: Area: CI
