Repository HDRUK/hutch, pull requests merged in 2022-06, with the labels that each got.

#9 AB#58899: Internal Query Agent - Running queries
  app/LinkLiteAgent/linkliteagent/config.py
  app/LinkLiteAgent/linkliteagent/db_logging.py
  app/LinkLiteAgent/linkliteagent/main.py
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/tests/test_query.py
  app/LinkLiteAgent/tox.ini
Labels: Area: Agent

#13 AB#58885: Query queueing
  README.md
  app/LinkLiteManager/Config/QueryQueueOptions.cs
  app/LinkLiteManager/LinkLiteManager.csproj
  app/LinkLiteManager/Program.cs
  app/LinkLiteManager/Services/QueryQueueService.cs
Labels: Area: Manager Backend API

#12 AB#58906: Internal Query Agent - Query Results
  app/LinkLiteAgent/linkliteagent/config.py
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/poetry.lock
  app/LinkLiteAgent/pyproject.toml
Labels: Area: Agent

#11 AB#59378: Manager Database Logging
  app/LinkLiteManager/Data/ApplicationDbContext.cs
  app/LinkLiteManager/Data/Entities/Logs.cs
  app/LinkLiteManager/Data/Migrations/20220527091306_Initial.cs
  app/LinkLiteManager/Data/Migrations/20220613111927_Initial.Designer.cs
  app/LinkLiteManager/Data/Migrations/20220613111927_Initial.cs
  app/LinkLiteManager/Data/Migrations/ApplicationDbContextModelSnapshot.cs
  app/LinkLiteManager/LinkLiteManager.csproj
  app/LinkLiteManager/Program.cs
  app/LinkLiteManager/appsettings.Development.json
  app/LinkLiteManager/appsettings.json
Labels: Area: Manager Backend API, Contains: Migrations

#16 AB#63271:Recreate migration files
  app/LinkLiteManager/Data/Migrations/20220615083645_Initial.Designer.cs
  app/LinkLiteManager/Data/Migrations/20220615083645_Initial.cs
Labels: Area: Manager Backend API, Contains: Migrations

#17 AB#62653: Activity source list
  app/manager-frontend/src/api/activitysource.js
  app/manager-frontend/src/components/ActivitySourceSummary.jsx
  app/manager-frontend/src/pages/UserHome.jsx
Labels: Area: Manager Frontend

#18 AB#62658: Activity source form
  app/manager-frontend/src/api/activitysource.js
  app/manager-frontend/src/components/forms/FormikSelect.jsx
  app/manager-frontend/src/contexts/BackendApi.jsx
  app/manager-frontend/src/pages/ActivitySource/index.jsx
  app/manager-frontend/src/pages/ActivitySource/validation.js
  app/manager-frontend/src/pages/UserHome.jsx
  app/manager-frontend/src/routes/Root.jsx
Labels: Area: Manager Frontend

#19 AB#58880: Add Rquest Polling & Queueing
  app/LinkLiteManager/Data/ApplicationDbContext.cs
  app/LinkLiteManager/Dto/RquestQuery.cs
  app/LinkLiteManager/Dto/RquestQueryResult.cs
  app/LinkLiteManager/Dto/RquestQueryTask.cs
  app/LinkLiteManager/Dto/RquestResultResponse.cs
  app/LinkLiteManager/Helpers/TreeNode.cs
  app/LinkLiteManager/HostedServices/RquestPollingHostedService.cs
  app/LinkLiteManager/LinkLiteManager.csproj
  app/LinkLiteManager/OptionsModels/RquestConnectorApiOptions.cs
  app/LinkLiteManager/OptionsModels/RquestPollingServiceOptions.cs
  app/LinkLiteManager/Program.cs
  app/LinkLiteManager/Services/QueryServices/Constants.cs
  app/LinkLiteManager/Services/QueryServices/Helpers.cs
  app/LinkLiteManager/Services/RquestConnectorApiClient.cs
  app/LinkLiteManager/Services/RquestPollingService.cs
  app/LinkLiteManager/appsettings.Development.json
Labels: Area: Manager Backend API

#24 AB#62673: ActivitySource GET endpoint for getting a single ActivitySource by ID
  app/LinkLiteManager/Controllers/ActivitySourceController.cs
  app/LinkLiteManager/Services/ActivitySourceService.cs
Labels: Area: Manager Backend API

#15 AB#63236: Refactor Agent Log table to match Manager table attributes
  app/LinkLiteAgent/linkliteagent/config.py
  app/LinkLiteAgent/linkliteagent/db_logging.py
Labels: Area: Agent

#26 AB#62645: Add delete endpoint for ActivitySource
  app/LinkLiteManager/Controllers/ActivitySourceController.cs
  app/LinkLiteManager/Services/ActivitySourceService.cs
Labels: Area: Manager Backend API

#22 AB#62674: Delete activity source
  app/LinkLiteManager/appsettings.Development.json
  app/manager-frontend/src/api/activitysource.js
  app/manager-frontend/src/components/ActivitySourceSummary.jsx
  app/manager-frontend/src/components/DeleteActivitySourceModal.jsx
  app/manager-frontend/src/pages/ActivitySource/index.jsx
  app/manager-frontend/src/pages/UserHome.jsx
Labels: Area: Manager Frontend, Area: Manager Backend API

#30 AB#62655: sorting and filtering
  app/HutchManager/Models/CreateActivitySource.cs
  app/manager-frontend/src/api/activitysource.js
  app/manager-frontend/src/pages/ActivitySource/index.jsx
  app/manager-frontend/src/pages/UserHome.jsx
Labels: Area: Manager Frontend, Area: Manager Backend API

#32 AB#63436: Rename Agent
  .github/labeler.yml
  .idea/.idea.Hutch/.idea/.gitignore
  README.md
  app/HutchAgent/.gitignore
  app/HutchAgent/README.md
  app/HutchAgent/hutchagent/__init__.py
  app/HutchAgent/hutchagent/config.py
  app/HutchAgent/hutchagent/db_logging.py
  app/HutchAgent/hutchagent/db_manager.py
  app/HutchAgent/hutchagent/entities.py
  app/HutchAgent/hutchagent/main.py
  app/HutchAgent/hutchagent/message_queue.py
  app/HutchAgent/hutchagent/query.py
  app/HutchAgent/poetry.lock
  app/HutchAgent/pyproject.toml
  app/HutchAgent/tests/__init__.py
  app/HutchAgent/tests/test_db_logging.py
  app/HutchAgent/tests/test_hutchagent.py
  app/HutchAgent/tests/test_query.py
  app/HutchAgent/tox.ini
Labels: Area: CI, Area: Agent

#33 AB#64098: Frontend renaming
  .prettierignore
  LICENSE
  app/manager-frontend/index.html
  app/manager-frontend/public/locales/dev/about.md
  app/manager-frontend/public/locales/dev/core.json
  app/manager-frontend/src/components/Footer.jsx
  app/manager-frontend/src/components/NavBar.jsx
  app/manager-frontend/src/config/i18n.js
  app/manager-frontend/src/contexts/Config.jsx
  app/manager-frontend/src/contexts/User.jsx
  package.json
Labels: Area: Manager Frontend, Area: Agent

#31 AB#54362: Create Python classes for RO-Crates query models
  app/HutchAgent/hutchagent/ro_crates/__init__.py
  app/HutchAgent/hutchagent/ro_crates/group.py
  app/HutchAgent/hutchagent/ro_crates/operator.py
  app/HutchAgent/hutchagent/ro_crates/query.py
  app/HutchAgent/hutchagent/ro_crates/result.py
  app/HutchAgent/hutchagent/ro_crates/rule.py
  app/HutchAgent/hutchagent/ro_crates/thing.py
  app/HutchAgent/tests/test_ro_crates.py
Labels: Area: Agent

#34 AB#64541: Added DataSource entity
  app/HutchManager/Data/ApplicationDbContext.cs
  app/HutchManager/Data/Entities/DataSource.cs
  app/HutchManager/Models/DataSource.cs
Labels: Area: Manager Backend API

#37 AB#64557: Manager terminology updates
  app/HutchManager/Dto/RquestQueryResult.cs
  app/HutchManager/Dto/RquestQueryTask.cs
  app/HutchManager/Services/RquestPollingService.cs
  app/HutchManager/Services/RquestTaskApiClient.cs
Labels: Area: Manager Backend API

#38 AB#64561: Agent notifies Manager of target Data Source(s)
  app/HutchAgent/hutchagent/checkin.py
  app/HutchAgent/hutchagent/config.py
  app/HutchAgent/hutchagent/db_logging.py
  app/HutchAgent/hutchagent/main.py
  app/HutchAgent/poetry.lock
  app/HutchAgent/pyproject.toml
Labels: Area: Agent
