Repository HDRUK/hutch, pull requests merged in 2022-05, with the labels that each got.

#1 AB#59215: Create hello world python entrypoint app - omop agent
  app/LinkLiteAgent/.gitignore
  app/LinkLiteAgent/README.md
  app/LinkLiteAgent/linkliteagent/__init__.py
  app/LinkLiteAgent/linkliteagent/main.py
  app/LinkLiteAgent/poetry.lock
  app/LinkLiteAgent/pyproject.toml
  app/LinkLiteAgent/tests/__init__.py
  app/LinkLiteAgent/tests/test_linkliteagent.py
  app/LinkLiteAgent/tox.ini
Labels: Area: Agent

#4 AB#59382: Feature/db manager 4 lla
  app/LinkLiteAgent/linkliteagent/db_manager.py
Labels: Area: Agent

#6 AB#58884: Agent Database Logging
  app/LinkLiteAgent/README.md
  app/LinkLiteAgent/linkliteagent/db_logging.py
  app/LinkLiteAgent/linkliteagent/db_manager.py
  app/LinkLiteAgent/poetry.lock
  app/LinkLiteAgent/pyproject.toml
  app/LinkLiteAgent/tests/test_db_logging.py
  app/LinkLiteAgent/tox.ini
Labels: Area: Agent

#5 AB#58550: Setup configuration database
  app/LinkLiteManager/Data/Entities/ActivitySource.cs
  app/LinkLiteManager/Data/Entities/SourceType.cs
  app/LinkLiteManager/LinkLiteManager.csproj
  app/LinkLiteManager/Program.cs
  app/LinkLiteManager/appsettings.Development.json
Labels: Area: Manager Backend API

#7 AB#58894: Internal Query Agent - Fetching Jobs
  app/LinkLiteAgent/linkliteagent/main.py
  app/LinkLiteAgent/linkliteagent/message_queue.py
  app/LinkLiteAgent/linkliteagent/query.py
  app/LinkLiteAgent/poetry.lock
  app/LinkLiteAgent/pyproject.toml
  docker-compose.yml
Labels: Area: Agent

#8 AB#58558:Configure ActivitySource backend
  .config/dotnet-tools.json
  app/LinkLiteManager/Auth/AuthPolicies.cs
  app/LinkLiteManager/Controllers/ActivitySourceController.cs
  app/LinkLiteManager/Data/ApplicationDbContext.cs
  app/LinkLiteManager/Data/Entities/ActivitySource.cs
  app/LinkLiteManager/Data/Migrations/20220527091306_Initial.Designer.cs
  app/LinkLiteManager/Data/Migrations/20220527091306_Initial.cs
  app/LinkLiteManager/Data/Migrations/ApplicationDbContextModelSnapshot.cs
  app/LinkLiteManager/LinkLiteManager.csproj
  app/LinkLiteManager/Models/ActivitySource.cs
  app/LinkLiteManager/Models/CreateActivitySource.cs
  app/LinkLiteManager/Program.cs
  app/LinkLiteManager/Services/ActivitySourceService.cs
  app/LinkLiteManager/appsettings.Development.json
Labels: Area: Manager Backend API, Contains: Migrations
