Repository HDRUK/hutch, pull requests merged in 2022-08, with the labels that each got.

#69 AB#68039: Result modifier endpoint
  app/HutchManager/Controllers/ActivitySourceController.cs
  app/HutchManager/Controllers/ActivitySourcesController.cs
  app/HutchManager/Controllers/ResultsModifiersController.cs
  app/HutchManager/Services/ActivitySourceService.cs
  app/HutchManager/Services/ResultsModifierService.cs
  app/manager-frontend/src/api/activitysources.js
  app/manager-frontend/src/api/resultsmodifiers.js
  app/manager-frontend/src/components/ConfigureResultsModifierModal.jsx
  app/manager-frontend/src/contexts/BackendApi.jsx
  app/manager-frontend/src/pages/ActivitySource/edit.jsx
  app/manager-frontend/src/pages/ResultsModifier/list.jsx
  app/manager-frontend/src/pages/UserHome.jsx
Labels: Area: Manager Frontend, Area: Manager Backend API

#70 AB#62642: Internal Query Agent - joining to more OMOP tables
  app/HutchAgent/hutchagent/entities.py
  app/HutchAgent/hutchagent/message_queue.py
  app/HutchAgent/hutchagent/query.py
  app/HutchAgent/hutchagent/ro_crates/group.py
  app/HutchAgent/tests/test_query.py
  app/HutchAgent/tests/test_ro_crates.py
Labels: Area: Agent

#71 AB#69296: Results Modifier Create / Update refactoring
  app/HutchManager/Controllers/ActivitySourcesController.cs
  app/HutchManager/Controllers/ResultsModifiersController.cs
  app/HutchManager/Models/CreateResultsModifier.cs
  app/HutchManager/Models/UpdateResultsModifier.cs
  app/HutchManager/Services/ResultsModifierService.cs
Labels: Area: Manager Backend API

#65 AB#64566: Low Number Suppression (agent)
  app/HutchAgent/hutchagent/message_queue.py
  app/HutchAgent/hutchagent/obfuscation.py
  app/HutchManager/Controllers/ActivitySourcesController.cs
Labels: Area: Manager Backend API, Area: Agent

#73 AB#53750: Rounding (agent)
  app/HutchAgent/hutchagent/obfuscation.py
  app/HutchAgent/tests/test_obfuscation.py
Labels: Area: Agent

#74 AB#69934: Dockerise agent
  app/HutchAgent/.dockerignore
  app/HutchAgent/Dockerfile
  app/HutchAgent/hutchagent/main.py
  app/HutchAgent/hutchagent/message_queue.py
  app/HutchAgent/poetry.lock
  app/HutchAgent/pyproject.toml
Labels: Area: Agent

#75 AB#69928: Dockerise Manager
  app/HutchManager/.dockerignore
  app/HutchManager/Dockerfile
  app/HutchManager/HutchManager.csproj
Labels: Area: Manager Backend API
