Repository HDRUK/hutch, pull requests merged in 2023-02, with the labels that each got.

#155 AB#95986: Run through WfExS with output ro-crate
  website/docs/devs/external-systems/wfexs/config.md
  website/docs/devs/external-systems/wfexs/index.md
  website/docs/devs/external-systems/wfexs/installing-wfexs.md
  website/docs/devs/external-systems/wfexs/running-wfexs.md
Labels: Area: Docs

#156 AB#97864: Rename 'rquest-omop-agent' to 'rquest-omop-worker'
  .github/workflows/publish.rquest-omop-worker.yml
  .github/workflows/release.rquest-omop-worker.yml
  app/rquest-omop-agent/README.md
  app/rquest-omop-worker/.gitignore
  app/rquest-omop-worker/Dockerfile
  app/rquest-omop-worker/README.md
  app/rquest-omop-worker/pyproject.toml
  app/rquest-omop-worker/rquest_omop_worker/__about__.py
  app/rquest-omop-worker/rquest_omop_worker/__init__.py
  app/rquest-omop-worker/rquest_omop_worker/db_manager.py
  app/rquest-omop-worker/rquest_omop_worker/query_solvers.py
  app/rquest-omop-worker/scripts/__init__.py
  app/rquest-omop-worker/scripts/worker.py
Labels: Area: CI

#158 AB#97869: Delete old HutchAgent
  .github/workflows/publish.agent-wheel.yml
  .github/workflows/release.hutch-agent.yml
  .github/workflows/version.hutch-agent.yml
  app/HutchAgent/.dockerignore
  app/HutchAgent/.gitignore
  app/HutchAgent/Dockerfile
  app/HutchAgent/hutchagent/__init__.py
  app/HutchAgent/hutchagent/checkin.py
  app/HutchAgent/hutchagent/db_logging.py
  app/HutchAgent/hutchagent/db_manager.py
  app/HutchAgent/hutchagent/entities.py
  app/HutchAgent/hutchagent/message_queues/__init__.py
  app/HutchAgent/hutchagent/message_queues/az_queue.py
  app/HutchAgent/hutchagent/message_queues/helpers.py
  app/HutchAgent/hutchagent/message_queues/rmq_queue.py
  app/HutchAgent/hutchagent/query_solvers.py
  app/HutchAgent/poetry.lock
  app/HutchAgent/pyproject.toml
  app/HutchAgent/scripts/__init__.py
  app/HutchAgent/scripts/main.py
  app/HutchAgent/tests/__init__.py
  app/HutchAgent/tests/test_db_logging.py
  app/HutchAgent/tests/test_obfuscation.py
  app/HutchAgent/tests/test_ro_crates.py
  app/HutchAgent/tox.ini
  docker-compose.prod.yml
  website/docs/devs/getting-started/agent.md
  website/docs/devs/getting-started/worker.md
Labels: Area: CI, Area: Agent, Area: Docs

#159 AB#97520: Create new .NET app project (console app)
  Hutch.sln
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Program.cs
Labels: Area: Agent
