Repository HDRUK/hutch, pull requests merged in 2023-01, with the labels that each got.

#127 AB#85884: Manager Azure Queue Storage support
  app/HutchManager/Config/AzureJobQueueOptions.cs
  app/HutchManager/Config/RabbitJobQueueOptions.cs
  app/HutchManager/Extensions/ServiceCollectionExtensions.cs
  app/HutchManager/HutchManager.csproj
  app/HutchManager/Program.cs
  app/HutchManager/Services/AzureJobQueueService.cs
  app/HutchManager/Services/IJobQueueService.cs
  app/HutchManager/Services/RabbitJobQueueService.cs
  app/HutchManager/Services/RquestDistributionPollingService.cs
  app/HutchManager/Services/RquestPollingService.cs
  website/docs/users/getting-started/configuration/manager.md
Labels: Area: Manager Backend API, Area: Docs

#140 AB#89108: Manager uses Rquest formats internally
  app/HutchManager/Constants/ActivityJobTypes.cs
  app/HutchManager/Controllers/ResultsController.cs
  app/HutchManager/Dto/ActivityJob.cs
  app/HutchManager/Dto/IRquestTask.cs
  app/HutchManager/Dto/ROCratesQuery.cs
  app/HutchManager/Dto/ROCratesQueryResult.cs
  app/HutchManager/Dto/RquestAvailabilityQuery.cs
  app/HutchManager/Dto/RquestAvailabilityResult.cs
  app/HutchManager/Dto/RquestDistributionQueryTask.cs
  app/HutchManager/Dto/RquestQuery.cs
  app/HutchManager/Dto/RquestQueryResult.cs
  app/HutchManager/Dto/RquestQueryTask.cs
  app/HutchManager/HostedServices/ActivitySourcePollingHostedService.cs
  app/HutchManager/Program.cs
  app/HutchManager/Services/QueryTranslator.cs
  app/HutchManager/Services/ResultsTranslator.cs
  app/HutchManager/Services/RquestAvailabilityPollingService.cs
  app/HutchManager/Services/RquestDistributionPollingService.cs
  app/HutchManager/Services/RquestTaskApiClient.cs
Labels: Area: Manager Backend API

#141 AB#89060: Register new user by username
  app/manager-frontend/public/locales/dev/core.json
  app/manager-frontend/src/components/forms/UsernameField.jsx
  app/manager-frontend/src/pages/account/Login.jsx
  app/manager-frontend/src/pages/account/Register.jsx
Labels: Area: Manager Frontend

#145 AB#89727: Hatch updates
  .github/workflows/publish.agent-wheel.yml
  .github/workflows/release.hutch-agent.yml
  .github/workflows/version.hutch-agent.yml
Labels: Area: CI

#144 AB#89085: Results Endpoint DistributionQuery results models
  app/HutchAgent/hutchagent/message_queues/az_queue.py
  app/HutchAgent/hutchagent/query_solvers.py
  app/HutchManager/Controllers/ResultsController.cs
  app/HutchManager/Dto/QueryResult.cs
  app/HutchManager/Dto/RquestAvailabilityResult.cs
  app/HutchManager/Dto/RquestDistributionQuery.cs
  app/HutchManager/Services/RquestTaskApiClient.cs
  app/rquest-omop-agent/rquest_omop_agent/query_solvers.py
  app/rquest-omop-agent/scripts/agent.py
  lib/rquest_dto/result.py
Labels: Area: Manager Backend API, Area: Agent

#147 AB#89730: Migrations can't be generated due to no default queue config
  app/HutchManager/Extensions/ServiceCollectionExtensions.cs
  website/docs/users/getting-started/configuration/manager.md
Labels: Area: Manager Backend API, Area: Docs

#148 AB#80380: Document Distribution Query Process
  website/docs/devs/external-systems/bcos/distribution-queries.md
Labels: Area: Docs

#143 AB#87058: Add users frontend
  app/HutchManager/Controllers/UsersController.cs
  app/HutchManager/Services/UserService.cs
  app/manager-frontend/src/api/user.js
  app/manager-frontend/src/components/users/UserSummary.jsx
  app/manager-frontend/src/pages/User/create.jsx
  app/manager-frontend/src/pages/User/index.jsx
  app/manager-frontend/src/pages/User/list.jsx
  app/manager-frontend/src/pages/User/validation.js
  app/manager-frontend/src/routes/Root.jsx
Labels: Area: Manager Frontend, Area: Manager Backend API

#152 AB#94466: rquest-omop-agent docker image github workflows
  .github/workflows/publish.rquest-omop-agent.yml
  .github/workflows/release.rquest-omop-agent.yml
Labels: Area: CI

#153 Revert "AB#94466: rquest-omop-agent docker image github workflows"
  .github/workflows/publish.rquest-omop-agent.yml
  .github/workflows/release.rquest-omop-agent.yml
Labels: Area: CI

#151 AB#89065: Disallow admin account deletion
  app/HutchManager/Models/User/UserModel.cs
  app/HutchManager/Services/UserService.cs
  app/manager-frontend/src/pages/User/list.jsx
Labels: Area: Manager Frontend, Area: Manager Backend API

#154 AB#94466: rquest-omop-agent docker image github workflows
  .github/workflows/publish.rquest-omop-agent.yml
  .github/workflows/release.rquest-omop-agent.yml
Labels: Area: CI
