Repository HDRUK/hutch, pull requests merged in 2023-05, with the labels that each got.

#188 AB#104228: Upload the modified crate (including results) to target (S3)
  app/HutchAgent/Config/MinioOptions.cs
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/MinioService.cs
Labels: Area: Agent

#189 AB#102477: Add a POST endpoint that receives an RO-Crate payload
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Models/WorkflowTriggerOptions.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

#190 AB#94501: Agent results watch folder
  app/HutchAgent/Config/MinioOptions.cs
  app/HutchAgent/Config/WatchFolderOptions.cs
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/MinioService.cs
  app/HutchAgent/Services/WatchFolderService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

#192 AB#104985: Unpack input RO-Crate to its own directory
  .idea/.idea.Hutch/.idea/indexLayout.xml
  Hutch.sln
  app/HutchAgent.Tests/AsyncHandlers/AsyncEnumerable.cs
  app/HutchAgent.Tests/AsyncHandlers/AsyncEnumerator.cs
  app/HutchAgent.Tests/AsyncHandlers/AsyncQueryProvider.cs
  app/HutchAgent.Tests/HutchAgent.Tests.csproj
  app/HutchAgent.Tests/TestWfexsJobService.cs
  app/HutchAgent.Tests/Usings.cs
  app/HutchAgent/Data/Entities/WfexsJob.cs
  app/HutchAgent/Data/HutchAgentContext.cs
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/WatchFolderService.cs
  app/HutchAgent/Services/WfexsJobService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

#194 AB105814: Create scope in HostedService for WfexsJobService
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Services/WatchFolderService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

#193 AB#94504: Merge WfExS output crate into parent crate
  app/HutchAgent.Tests/TestCrateMergeService.cs
  app/HutchAgent.Tests/TestWfexsJobService.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/CrateMergerService.cs
  app/HutchAgent/Services/MinioService.cs
  app/HutchAgent/Services/WatchFolderService.cs
  app/HutchAgent/Services/WfexsJobService.cs
Labels: Area: Agent

#191 AB#99523: Rewrite stage file URLs for relative resources in an RO crate
  .config/dotnet-tools.json
  app/HutchAgent/Migrations/20230512153934_InitialCreate.Designer.cs
  app/HutchAgent/Migrations/20230512153934_InitialCreate.cs
  app/HutchAgent/Migrations/HutchAgentContextModelSnapshot.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent, Contains: Migrations

#196 AB#104721:Change polling interval from double to int
  app/HutchAgent/Config/WatchFolderOptions.cs
Labels: Area: Agent

#195 AB#105514: Copy Results to target output filesystem path
  app/HutchAgent.Tests/TestFileSystemResultsStoreService.cs
  app/HutchAgent/Config/FileSystemResultsStoreOptions.cs
  app/HutchAgent/Extensions/ServiceCollectionExtensions.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/FileSystemResultsStoreService.cs
  app/HutchAgent/Services/IResultsStoreWriter.cs
  app/HutchAgent/Services/MinioService.cs
  app/HutchAgent/Services/WatchFolderService.cs
  website/docs/users/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs

#198 AB#107048: WatchFolder should check a job is finished first
  app/HutchAgent/HostedServices/WatchFolderHostedService.cs
  app/HutchAgent/Program.cs
Labels: Area: Agent

#197 AB#105492: Nexus Workflow Investigation
  website/docs/devs/external-systems/nexus/docker_repo.md
  website/docs/devs/external-systems/nexus/using_nexus.md
  website/static/images/docker-proxy-settings.png
  website/static/images/proxy-contents.png
Labels: Area: Docs
