Repository HDRUK/hutch, pull requests merged in 2023-07, with the labels that each got.

#215 AB#114188: CI should Run tests
  .github/workflows/build.HutchAgent.yml
  .github/workflows/build.ROCrates.Net.yml
  .github/workflows/build.manager-backend-api.yml
  .github/workflows/build.manager-frontend.yml
  .github/workflows/publish.hutch.yml
  .github/workflows/release.hutch-manager.yml
  .github/workflows/version.hutch-manager.yml
Labels: Area: CI

#219 AB#105487: Demo updates
  .husky/pre-commit
  app/HutchAgent/Services/WorkflowTriggerService.cs
  website/docs/devs/external-systems/wfexs/exported-crates.md
Labels: Area: Agent, Area: Docs

#220 AB#115194: RoCrates.NET Docs
  website/docs/devs/ROCrates.Net/index.md
Labels: Area: Docs

#222 AB#115188: Point Hutch at the new RoCrates.NET package
  .github/workflows/build.ROCrates.Net.yml
  Hutch.sln
  app/HutchAgent/HutchAgent.csproj
  lib/ROCrates.Net.Tests/Fixtures/entity-with-list.json
  lib/ROCrates.Net.Tests/Fixtures/metadata-test.json
  lib/ROCrates.Net.Tests/Fixtures/test-compound-types.json
  lib/ROCrates.Net.Tests/Fixtures/test-computational-workflow.json
  lib/ROCrates.Net.Tests/Fixtures/test-computer-language.json
  lib/ROCrates.Net.Tests/Fixtures/test-dataset.json
  lib/ROCrates.Net.Tests/Fixtures/test-entity.json
  lib/ROCrates.Net.Tests/Fixtures/test-file.json
  lib/ROCrates.Net.Tests/Fixtures/test-invalid-metadata.json
  lib/ROCrates.Net.Tests/Fixtures/test-person.json
  lib/ROCrates.Net.Tests/Fixtures/test-preview.json
  lib/ROCrates.Net.Tests/Fixtures/test-root-dataset.json
  lib/ROCrates.Net.Tests/ROCrates.Net.Tests.csproj
  lib/ROCrates.Net.Tests/TestComputationalWorkflow.cs
  lib/ROCrates.Net.Tests/TestComputerLanguage.cs
  lib/ROCrates.Net.Tests/TestDataset.cs
  lib/ROCrates.Net.Tests/TestEntity.cs
  lib/ROCrates.Net.Tests/TestFile.cs
  lib/ROCrates.Net.Tests/TestFileOrDir.cs
  lib/ROCrates.Net.Tests/TestMetadata.cs
  lib/ROCrates.Net.Tests/TestPerson.cs
  lib/ROCrates.Net.Tests/TestPreview.cs
  lib/ROCrates.Net.Tests/TestRoCrate.cs
  lib/ROCrates.Net.Tests/Usings.cs
  lib/ROCrates.Net/Converters/EntityConverter.cs
  lib/ROCrates.Net/Exceptions/CrateReadException.cs
  lib/ROCrates.Net/Exceptions/MetadataException.cs
  lib/ROCrates.Net/Models/ComputationalWorkflow.cs
  lib/ROCrates.Net/Models/ComputerLanguage.cs
  lib/ROCrates.Net/Models/ContextEntity.cs
  lib/ROCrates.Net/Models/CreativeWork.cs
  lib/ROCrates.Net/Models/DataEntity.cs
  lib/ROCrates.Net/Models/Dataset.cs
  lib/ROCrates.Net/Models/Entity.cs
  lib/ROCrates.Net/Models/File.cs
  lib/ROCrates.Net/Models/FileOrDir.cs
  lib/ROCrates.Net/Models/Metadata.cs
  lib/ROCrates.Net/Models/Part.cs
  lib/ROCrates.Net/Models/Person.cs
  lib/ROCrates.Net/Models/Preview.cs
  lib/ROCrates.Net/Models/RootDataset.cs
  lib/ROCrates.Net/Models/SoftwareApplication.cs
  lib/ROCrates.Net/Models/TestDefinition.cs
  lib/ROCrates.Net/Models/TestInstance.cs
  lib/ROCrates.Net/Models/TestService.cs
  lib/ROCrates.Net/Models/TestSuite.cs
  lib/ROCrates.Net/Models/Workflow.cs
  lib/ROCrates.Net/Models/WorkflowDescription.cs
  lib/ROCrates.Net/ROCrate.cs
  lib/ROCrates.Net/ROCrates.Net.csproj
  lib/ROCrates.Net/Templates/ro-crates-preview.html
  lib/ROCrates.Net/TestingExtraTerms.cs
Labels: Area: CI, Area: Agent

#223 AB#108975: Fetch Workflows
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent
