Repository HDRUK/hutch, pull requests merged in 2023-10, with the labels that each got.

#245 AB#126516: Publish workflow
  .github/workflows/publish.HutchAgent.yml
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Program.cs
Labels: Area: CI, Area: Agent

#246 AB#126516: Release workflow
  .github/workflows/release.HutchAgent.yml
Labels: Area: CI

#247 AB#127689: InitiateEgress skeleton complete
  app/HutchAgent/Config/ControllerApiOptions.cs
  app/HutchAgent/Constants/FeatureFlags.cs
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Extensions/ServiceCollectionExtensions.cs
  app/HutchAgent/Models/Wfexs/WfexsExecutionState.cs
  app/HutchAgent/Models/Wfexs/WfexsLocalConfig.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Results/BasicResult.cs
  app/HutchAgent/Results/WorkflowCompletionResult.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/Services/CrateService.cs
  app/HutchAgent/Services/FileSystemResultsStoreService.cs
  app/HutchAgent/Services/FinaliseActionHandler.cs
  app/HutchAgent/Services/Hosted/JobActionQueuePoller.cs
  app/HutchAgent/Services/Hosted/JobPollingHostedService.cs
  app/HutchAgent/Services/IResultsStoreWriter.cs
  app/HutchAgent/Services/JobLifecycleService.cs
  app/HutchAgent/Services/MinioService.cs
  app/HutchAgent/Services/MinioStoreWriter.cs
  app/HutchAgent/Services/RequestCrateService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
  app/HutchAgent/appsettings.Development.json
Labels: Area: Agent

#249 AB#129865: Job submission api changes
  app/HutchAgent/Config/MinioOptions.cs
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Extensions/ServiceCollectionExtensions.cs
  app/HutchAgent/Models/DatabaseConnectionDetails.cs
  app/HutchAgent/Models/FileStorageDetails.cs
  app/HutchAgent/Models/SubmitJobModel.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/FinaliseActionHandler.cs
  app/HutchAgent/Services/Hosted/JobPollingHostedService.cs
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/appsettings.Development.json
  website/docs/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs

#250 AB#130099: Finalize actionhandler
  app/HutchAgent.Tests/HutchAgent.Tests.csproj
  app/HutchAgent.Tests/TestCrateService.cs
  app/HutchAgent.Tests/TestFiveSafesCrateService.cs
  app/HutchAgent/Config/CratePublishingOptions.cs
  app/HutchAgent/Config/LicenseOptions.cs
  app/HutchAgent/Config/MinioOptions.cs
  app/HutchAgent/Config/PublisherOptions.cs
  app/HutchAgent/Data/Entities/WorkflowJob.cs
  app/HutchAgent/Models/FileStorageDetails.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/FinaliseActionHandler.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
  app/HutchAgent/Services/Hosted/JobActionQueuePoller.cs
  app/HutchAgent/Services/Hosted/JobPollingHostedService.cs
  app/HutchAgent/Services/JobLifecycleService.cs
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/Services/RequestCrateService.cs
  app/HutchAgent/Services/WorkflowFetchService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
  app/HutchAgent/Utilities/FilesystemUtility.cs
  website/docs/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs

#252 AB#108979: Write a Wfexs stage file to the Data/ folder
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Models/WorkflowStageFile.cs
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/Services/WorkflowFetchService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

#253 AB#126519: Status updates workflow
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/Services/StatusReportingService.cs
Labels: Area: Agent

#254 AB#126520: Egress bucket api call
  app/HutchAgent.Tests/MinioStoreServiceTests/TestUploadFilesRecursively.cs
  app/HutchAgent/Config/ControllerApiOptions.cs
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Models/ControllerApi/FilesReadyForReviewRequest.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/ControllerApiService.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
  app/HutchAgent/Services/JobLifecycleService.cs
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/Services/WorkflowFetchService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

#255 AB#130322: Status updates
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Models/Wfexs/WorkflowStageFile.cs
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/JobLifecycleService.cs
  app/HutchAgent/Services/WorkflowFetchService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

#256 AB#130446: Standalone swagger in docs website
  .config/dotnet-tools.json
  .github/workflows/build.docs-website.yml
  .github/workflows/deploy.docs-website.yml
  pnpm-lock.yaml
  website/package.json
  website/src/pages/swagger.tsx
Labels: Area: CI, Area: Docs

#257 AB#130098: Approval Endpoint
  app/HutchAgent/Constants/ApprovalType.cs
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Models/ApprovalResult.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
  app/HutchAgent/Services/JobLifecycleService.cs
Labels: Area: Agent

#258 AB#125570: resolving obsolescence
  app/HutchAgent/Services/FileSystemResultsStoreService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

#259 AB#130446: docs build runs on dotnet changes for swagger
  .github/workflows/deploy.docs-website.yml
Labels: Area: CI

#260 AB#105505: Hutch Run fixes
  app/HutchAgent.Tests/TestFiveSafesCrateService.cs
  app/HutchAgent/Config/CratePublishingOptions.cs
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
  app/HutchAgent/Constants/FeatureFlags.cs
  app/HutchAgent/Constants/JobStatuses.cs
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
  app/HutchAgent/Services/JobLifecycleService.cs
  app/HutchAgent/Services/MinioStoreService.cs
  app/HutchAgent/Services/WorkflowFetchService.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
  website/docs/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs

#262 AB#130477: Default ports
  app/HutchAgent/appsettings.json
  website/docs/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs

#265 AB#131740: Workflow Execution skipping
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Models/JobQueue/InitiateEgressPayloadModel.cs
  app/HutchAgent/Models/JobQueue/JobQueueMessage.cs
  app/HutchAgent/Services/ActionHandlers/ExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/Contracts/IActionHandler.cs
  app/HutchAgent/Services/Hosted/JobActionQueuePoller.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
  website/docs/development/partial-running.md
  website/docs/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs

#266 AB#131017: Terminology updates
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/Models/SubmitJobModel.cs
  website/docs/development/index.md
  website/docs/development/partial-running.md
  website/docs/external-systems/minio/minio-keycloak.md
  website/docs/getting-started/index.md
  website/docs/getting-started/installation/agent.md
Labels: Area: Agent, Area: Docs

#270 AB#108973: Verify BagIt Checksums before execution?
  app/HutchAgent.Tests/HutchAgent.Tests.csproj
  app/HutchAgent.Tests/TestBagItService.cs
  app/HutchAgent.Tests/TestBagit/bagit-info.txt
  app/HutchAgent.Tests/TestBagit/bagit.txt
  app/HutchAgent.Tests/TestBagit/data/hello.txt
  app/HutchAgent.Tests/TestBagit/manifest-sha512.txt
  app/HutchAgent.Tests/TestBagit/tagmanifest-sha512.txt
  app/HutchAgent.Tests/TestFiveSafesCrateService.cs
  app/HutchAgent/Services/ActionHandlers/FetchAndExecuteActionHandler.cs
  app/HutchAgent/Services/BagItService.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
Labels: Area: Agent

#272 AB#132633: `bag-info.txt` not `bagit-info.txt`
  .idea/.idea.Hutch/.idea/indexLayout.xml
  app/HutchAgent/Services/BagItService.cs
  test/HutchAgent.Tests/TestBagItService.cs
  test/HutchAgent.Tests/TestBagit/bag-info.txt
  test/HutchAgent.Tests/TestBagit/tagmanifest-sha512.txt
Labels: Area: Agent

#273 AB#131799: when containers are deleted from ouputs, we retain metadata files
  app/HutchAgent/HutchAgent.csproj
  app/HutchAgent/Program.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
  app/HutchAgent/Utilities/FileSystemUtility.cs
  test/HutchAgent.Tests/FileSystemUtilityTests/TestSelectivelyDelete.cs
  test/HutchAgent.Tests/HutchAgent.Tests.csproj
Labels: Area: Agent

#274 AB#130480: Set DB settings as env vars in stage file
  app/HutchAgent/Models/Wfexs/WorkflowStageFile.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
Labels: Area: Agent

#276 AB#130908: License properties? seem to be broken.
  app/HutchAgent/Config/CratePublishingOptions.cs
  app/HutchAgent/Services/FiveSafesCrateService.cs
  test/HutchAgent.Tests/TestFiveSafesCrateService.cs
Labels: Area: Agent

#277 AB#132881: Controller api changes
  app/DummyControllerApi/Config/EgressBucketDetailsOptions.cs
  app/DummyControllerApi/Controllers/SubmissionController.cs
  app/DummyControllerApi/Models/EgressBucketResponseModel.cs
  app/DummyControllerApi/Models/HutchApprovalRequestModel.cs
  app/DummyControllerApi/Services/EgressApprovalHostedService.cs
  app/HutchAgent/Controllers/JobsController.cs
  app/HutchAgent/MappingProfiles/MinioOptionsProfile.cs
  app/HutchAgent/Models/ApprovalResult.cs
  app/HutchAgent/Models/ControllerApi/GetOutputBucketInfoReponse.cs
  app/HutchAgent/Models/FileStorageDetails.cs
  app/HutchAgent/Services/ActionHandlers/FinalizeActionHandler.cs
  app/HutchAgent/Services/ActionHandlers/InitiateEgressActionHandler.cs
  app/HutchAgent/Services/ControllerApiService.cs
Labels: Area: Agent

#278 AB#129760: Working Directory Path
  app/HutchAgent/Config/PathOptions.cs
  app/HutchAgent/Config/WorkflowTriggerOptions.cs
  app/HutchAgent/Constants/ContainerEngineType.cs
  app/HutchAgent/Models/DatabaseConnectionDetails.cs
  app/HutchAgent/Models/Wfexs/WorkflowStageFile.cs
  app/HutchAgent/Services/WorkflowTriggerService.cs
  website/docs/getting-started/configuration/agent.md
Labels: Area: Agent, Area: Docs
